{% load static %}
<style>
    .map-link {
        display: inline-block;
        margin-top: 10px;
    }
    .input-error {
      border: 1px solid red;
  }
  #return_delivery_table{
    width: 100% !important;
  }
  #return_delivery_table_wrapper {
    margin-top: 50px !important;
}
</style>
<style>
  #create_orderFieldContainer112 {
    display: none !important;
}
</style>
<!-- Date picker Start -->
<script type="text/javascript" src="{% static 'datepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/daterangepicker.min.js' %}" defer></script>
<!-- Date picker End -->

<!-- Print Button Start -->
<div class="float-left my-2 mt-3">
  <button type="button" class="btn btn-primary print-button" data-table-id="table5">Print</button>
</div>
<!-- Print Button End -->

<div class="float-right my-2 mt-3">
  <a hx-get="{% url 'rental:rent_process:create_return_delivery_modal' order.order_id %}" hx-target="#modalDiv"
    class="btn bg-light-primary">
    <i class="ft-plus font-medium-5"></i> Create Return Delivery
  </a>
</div>

<!-- Create Return Delivery Modal Start -->

<div id="modalDiv">
  <!-- Dynamic data render  -->
</div>

<!-- Create Return Delivery Modal Start -->

<!-- New Table View -->
<div>
  <table id="return_delivery_table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="max-width:100px">Delivery ID</th>
        <th style="max-width:100px">Total Quantity</th>
        <th style="max-width:100px">Contract End Date</th> 
        <th style="max-width:100px">Removal Date</th> 
        <th style="max-width:50px">Action</th>
      </tr>
    </thead>
    <tbody>

    
    </tbody>
  </table>
</div>
<!-- New Table View -->


<!-- Edit Return Delivery Modal Start -->
<div id="update_retrun_delivery1">
  <!-- Dynamic data render  -->
</div>
<!-- Edit Return Delivery Modal Start -->
<script>
  $(document).ready(function () {
    if ($.fn.dataTable.isDataTable('#return_delivery_table')) {
        $('#return_delivery_table').DataTable().clear().destroy();
    }
    var order_obj_id = "{{order.order_id}}"
    var url = "{% url 'rental:rent_process:return_delivery_list_ajax' order_id='ORDER_ID' %}".replace('ORDER_ID', order_obj_id);

    let table = $("#return_delivery_table").DataTable({
        processing: true,
        serverSide: true,
        searching: false, 
        ajax: {
            url: url,
            type: "GET",
        },
        columns: [
            { data: "return_id" },
            { data: "total_qty" },
            { data: "contract_end_date" },
            { data: "removal_date" },
            {data: "actions"},

        ],
        rowCallback: function (row, data, index) {
          if (data.products) {
              let totalQtyCell = $(row).find('td:eq(1)'); 
              let checkoutCell = $(row).find('td:eq(2)'); 
              let deliveryCell = $(row).find('td:eq(3)'); 
              let actionsCell = $(row).find('td:eq(4)'); 

              totalQtyCell.attr('colspan', 4).css({ "vertical-align": "top" });
              let summaryRow = `
                 <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 27.2%;">${data.total_qty}</td>
                            <td style="width: 28.1%;">${data.contract_end_date}</td>
                            <td style="width: 28%;">${data.removal_date}</td>
                            <td style="width: 27.7%;">${data.actions}</td>
                        </tr>
                    </tbody>
                </table>
              `;
              totalQtyCell.html(`
                  ${summaryRow}
                  <div>${data.products}</div>
              `);

              checkoutCell.hide();
              deliveryCell.hide();
              actionsCell.hide();
          }
      }

    });
});
</script>
<script>
  $(document).ready(function () {
  // Delivery Site Update (AJAX)
  $(document).off("change", ".delivery-site-input").on("change", ".delivery-site-input", function () {
      let inputField = $(this);
      let returnDeliveryId = inputField.data("return-delivery-id"); 
      let newDeliverySite = inputField.val();  

      $.ajax({
          url: "{% url 'rental:rent_process:update_return_delivery_site' %}",
          type: "POST",
          data: {
              return_delivery_id: returnDeliveryId,
              new_delivery_site: newDeliverySite,
              csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
              if (response.status === "success") {
                  toastr.success(response.message, "Success", {
                      closeButton: true,
                      progressBar: true,
                      positionClass: "toast-bottom-right",
                      timeOut: 6000
                  });
                  $('#return_delivery_table').DataTable().ajax.reload();
              } else {
                  toastr.error("Error: " + response.message, "Error", {
                      closeButton: true,
                      progressBar: true,
                      positionClass: "toast-bottom-right",
                      timeOut: 6000
                  });
              }
          },
          error: function () {
              toastr.error("Something went wrong!", "Error", {
                  closeButton: true,
                  progressBar: true,
                  positionClass: "toast-bottom-right",
                  timeOut: 6000
              });
          },
      });
  });

  // Quantity Update (AJAX)
  $(document).off("change", ".quantity-input").on("change", ".quantity-input", function () {
    let inputField = $(this);
      let returnItemPk = inputField.data("return-delivery-item-pk");
      let newQuantity = inputField.val();

      $.ajax({
          url: "{% url 'rental:rent_process:update_return_delivery_qty' %}",
          type: "POST",
          data: {
              return_delivery_item_pk: returnItemPk,
              new_quantity: newQuantity,
              csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
              if (response.status === "success") {
                  toastr.success(response.message, "Success", {
                      closeButton: true,
                      progressBar: true,
                      positionClass: "toast-bottom-right",
                      timeOut: 6000
                  });
                  $('#return_delivery_table').DataTable().ajax.reload();
              } else {
                  toastr.error("Error: " + response.message, "Error", {
                      closeButton: true,
                      progressBar: true,
                      positionClass: "toast-bottom-right",
                      timeOut: 6000
                  });
              }

          },
          error: function () {
              toastr.error("Something went wrong!", "Error", {
                  closeButton: true,
                  progressBar: true,
                  positionClass: "toast-bottom-right",
                  timeOut: 6000
              });
          },
      });
  });
});
</script>