{% load static %}
<h4>Order Overview : O20240200018</h4>
<br>
<!-- Wizard Starts -->
<section id="icon-tabs">
    <div class="row">
        <div class="col-12">
          <div class="card p-0 m-0">
            <div class="card-content">
            <div class="card-body py-0">
                <div>
                    <table id="table1" class="table table-striped table-bordered print-table">
                        <h5>Customer Details :</h5>
                        <thead>
                            <tr>
                                <th style="max-width:100px">Customer ID</th>
                                <th style="max-width:100px">Customer Name</th>
                                <th style="max-width:100px">Customer Email</th> 
                                <th style="max-width:100px">Delivery Location</th> 
                            </tr>
                        </thead>
                        <tbody>
                        <!--Main Row 1 -->
                            <tr>    
                                <td>1021</td>
                                <td>John Smith</td>
                                <td>johnsmith@laurel.com</td>
                                <td>3876 Allen Rd, Bakersfield, CA 93314</td>
                            </tr>      
                        </tbody>
                    </table>
                    <table id="table1" class="table table-striped table-bordered print-table">
                        <h5>Internal Details :</h5>
                        <thead>
                            <tr>
                                <th style="max-width:100px">Account Manager</th>
                                <th style="max-width:100px">Link NetSuite</th>
                                <th style="max-width:100px">Region</th> 
                                <th style="max-width:100px">Pick-up Location</th> 
                                <th style="max-width:100px">Water Source</th> 
                                <th style="max-width:100px">Crop</th> 
                            </tr>
                        </thead>
                        <tbody>
                        <!--Main Row 1 -->
                            <tr>    
                                <td>Brawley Smith</td>
                                <td>brawley.smith</td>
                                <td>WEST</td>
                                <td>325 Rd 192, Delano, CA 93215</td>
                                <td>325 Rd 192, Delano, CA 93215</td>
                                <td>325 Rd 192, Delano, CA 93215</td>
                            </tr>      
                        </tbody>
                    </table>
                    <table id="table1" class="table table-striped table-bordered print-table">
                        <h5>Duration Details :</h5>
                        <div class="row mb-2 pl-2">
                            <label for="recurring-checkbox" class="mr-2">Recurring Order</label>
                            <input type="checkbox" id="recurring-checkbox" value="True" checked disabled/>
                        </div>
                        <thead>
                            <tr>
                                <!-- <th style="max-width:100px"><input type="checkbox" id="recurring-checkbox" /></th> -->
                                <th style="max-width:100px">Rental Period</th>
                                <th style="max-width:100px">Reccuring Order Number List</th> 
                            </tr>
                        </thead>
                        <tbody>
                        <!--Main Row 1 -->
                            <tr>    
                                <!-- <td style="size: 50px;"><input type="checkbox" id="recurring-checkbox"/></td> -->
                                <td>
                                    <div class="form-control col-4" id="daterangepicker">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span id="rentalPeriod">July 24, 2024 - August 22, 2024</span>
                                    </div>
                                </td>
                                <td>
                                    <p><a href="{% url 'rental:order_detail' %}"> O20240200008-1</a></p>
                                    <p><a href="{% url 'rental:order_detail' %}"> O20240200008-2</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="table1" class="table table-striped table-bordered print-table">
                        <h5>Line Details :</h5>
                        <thead>
                            <tr>
                                <th style="max-width:100px">Item No.</th>
                                <th style="max-width:100px">Item Name</th> 
                                <th style="max-width:100px">Quantity</th> 
                                <th style="max-width:100px">Per Unit Price</th> 
                                <th style="max-width:100px">Rent Amount</th> 
                                <th style="max-width:100px">Rent per month</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>    
                                <td>17727</td>
                                <td>10" Clamp</td>
                                <td>10</td>
                                <td>$ 100.00</td>
                                <td>$ 1000.00</td>
                                <td>
                                    <p>July - $ 500.00</p>
                                    <p>August - $ 500.00</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>


<script src="{% static 'app/js/ex-component-upload.min.js' %}"></script>
  