{% load static %}
  <div class="ml-3">
  <div class="row">
    <h5>
      Customer
    </h5>
    <span class="ml-1 border-right pr-2">
      {{order.customer.name}}
    </span>
    <h5 class=" pl-2">
      Document Number
    </h5>
    <span class="border-right pr-2 ml-1">
      INVLAWS-045268
    </span>
    <h5 class="ml-1">
      Order ID
    </h5>
    <span class="ml-1">
      {{order.order_id}}

    </span>

  </div>
</div>
<!-- Wizard Starts -->
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card p-0 m-0">
        <div class="card-content">
        <div class="card-body py-0">
            <form class="rental-icons-tab-steps">

                <h6>Create Delivery</h6>
                <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                    {% include "rental/orders/create_delivery.html" %}
                    {% include "rental/rent_process/document/stage_1_file_upload.html" %}
                </fieldset>

                <h6>Pickup Ticket</h6>
                <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                    {% include "rental/orders/pickup_ticket.html" %}
                    {% include "rental/rent_process/document/stage_2_file_upload.html" %}
                </fieldset>

                <h6>Check out</h6>
                <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                    {% include "rental/orders/checkout.html" %}
                    {% include "rental/rent_process/document/stage_3_file_upload.html" %}
                </fieldset>

                <h6>Delivered to customer</h6>
                <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                    {% include "rental/orders/delivery.html" %}
                    {% include "rental/rent_process/document/stage_4_file_upload.html" %}
                </fieldset>

                <h6>Create Return Deliveries</h6>
                <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                    {% include "rental/orders/create_return_delivery.html" %}
                    {% include "rental/rent_process/document/stage_5_file_upload.html" %}
                </fieldset>

              <h6>Pickup Ticket</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                  {% include "rental/orders/return_pickup_ticket.html" %}
                  {% include "rental/rent_process/document/stage_6_file_upload.html" %}
              </fieldset>

              <h6>Check In</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                  {% include "rental/orders/checkin.html" %}
                  {% include "rental/rent_process/document/stage_7_file_upload.html" %}
              </fieldset>

              <h6>Inspection completed</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                {% include "rental/orders/inspection.html" %}
                {% include "rental/rent_process/document/stage_8_file_upload.html" %}
              </fieldset>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="stockform">
      
  </div>
</section>


<script src="{% static 'app/js/ex-component-upload.min.js' %}"></script>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
      // Get the tab parameter from the URL
      const urlParams = new URLSearchParams(window.location.search);
      const tab = urlParams.get('tab') || '{{ default_tab }}';  // Use context variable if URL parameter is not present

      // console.log('Tab parameter:', tab);  // Debugging line

      // Remove the 'active' class from all fieldsets
      document.querySelectorAll('fieldset').forEach(fieldset => {
          fieldset.classList.remove('active');
      });

      // Add the 'active' class to the desired tab
      const activeTab = document.getElementById(`tab-${tab}`);
      // console.log('Active tab element:', activeTab);  // Debugging line
      if (activeTab) {
          activeTab.classList.add('active');
      } else {
          // Default to showing the first tab if no parameter is provided
          document.getElementById('tab-1').classList.add('active');
      }
  });
  </script> -->
  <script>
    var Stagevalue = "{{stage}}";
  </script>