{% load static %}

<div class="ml-3">
  <div class="row">
    <h5>
      Customer
    </h5>
    <span class="ml-1 border-right pr-2">
        Jane Smith
    </span>
    <h5 class="pl-2">
        Return Order Number
      </h5>
      <span class="ml-1 border-right pr-3">
        R-ORD-0000759
    </span>
    <h5 class="pl-2">
        Order Number
    </h5>
    <span class="ml-1 pr-2">
        <a href="{% url 'proposal:order' %}">ORD-0000759</a>
    </span>
  </div>
</div>

<!-- Wizard Starts -->
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card p-0 m-0">
        <div class="card-content">
          <div class="card-body py-0">
            <form class="icons-tab-steps">

              <h6>Final Pick-up and Inspection</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                  {% include "./final_pick_up_inspection.html" %}
                  {% include ".././file_upload.html" %}
                  {% include '.././comment_table.html' %}
              </fieldset>


              <h6>In Transit - Inbound</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                  {% include "./in_transit_inbound.html" %}
                  {% include ".././file_upload.html" %}
                  {% include '.././comment_table.html' %}
              </fieldset>


              <h6>Warehouse Storage</h6>
              <fieldset class="mt-2" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                  {% include "./warehouse_storage.html" %}
                  {% include ".././file_upload.html" %}
                  {% include '.././comment_table.html' %}
              </fieldset>
              <form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<script src="{% static 'app/js/ex-component-upload.min.js' %}"></script>

