
{% load static %}
{% load crispy_forms_tags %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel5">DIL-1 : PickUp Ticket Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form method="post" hx-post="{% url 'rental:rent_process:reccuring-order-edit' recurring_order.recurring_order_id %}" hx-target="#update_recurring_order_body" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.order__customer|as_crispy_field }} 
                </div>
                <div class="col-md-6">
                    {{ form.order__rental_start_date|as_crispy_field }} 
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.order__pick_up_location|as_crispy_field }} 
                </div>
                <div class="col-md-6">
                    {{ form.no_of_product|as_crispy_field }} 
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.order__rent_amount|as_crispy_field }} 
                </div>
                <div class="col-md-6">
                    {{ form.order__repeat_type|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <label class="form-label font-weight-bold">Repeat Date Range</label>
                    <div class="reportrange form-control">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span>{{ form.repeat_date_range.value }}</span>  <!-- Value set karna -->
                        <i class="fa fa-caret-down"></i>
                    </div>
                    {{ form.repeat_date_range|as_crispy_field }}  <!-- Hidden input field -->
                </div>
            </div>            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="btn btn-success">Complete</button>
            </div>
        </form>
    </div>
</div>

<!-- Date picker Start -->
<script type="text/javascript" src="{% static 'datepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/daterangepicker.min.js' %}" defer></script>

<script type="text/javascript">
    $(document).ready(function() {
        var dateRangeValue = "{{ form.repeat_date_range.value|default:'' }}"; 
        var dates = dateRangeValue ? dateRangeValue.split(' - ') : [moment().format('YYYY-MM-DD'), moment().format('YYYY-MM-DD')];
        var start = moment(dates[0], 'YYYY-MM-DD');
        var end = moment(dates[1], 'YYYY-MM-DD');

        function cb(start, end) {
            $('.reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            $('input[name="repeat_date_range"]').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));  // Hidden input me set karna
        }

        $('.reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {}
        }, cb);

        cb(start, end);

        $('.reportrange').on('apply.daterangepicker', function(ev, picker) {
            cb(picker.startDate, picker.endDate);  // Apply hone par update karna
        });
    });
</script>


  <!-- end -->


<!-- for reload and showing an success message -->
<script>
    document.body.addEventListener('htmx:beforeSwap', function(evt) {
      if(evt.detail.xhr.status === 200){
          if(evt.detail.requestConfig.verb != 'get')
          {
              evt.detail.shouldSwap = false;
              window.location.reload();
          }
      }
    });
</script>
