{% load static %}
<link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/datatables/dataTables.bootstrap4.min.css' %}" />

<!-- Wizard Starts For Order List-->
<section id="icon-tabs" class="tab-1">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
              <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab1" href="#tab1"
                aria-expanded="true">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="base-tab13" data-toggle="tab" aria-controls="tab3" href="#tab3"
                aria-expanded="false">Open Reccuring Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab2" href="#tab2"
                aria-expanded="false">Open Return Order</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1" aria-labelledby="base-tab11">
            <div class="card">
              <div class="card-content">
                <!-- Buttons -->
                <div class="float-left ml-4">
                  <data class="row">
                    <h4>Order</h4>
                  </data>
                </div>

                <div class="float-right mb-3">
                  <div class="row">
                    <!-- Import Order Starts -->
                     {% if user.is_superuser %}
                      <button type="button" class="btn bg-light-success ml-1" data-toggle="modal" data-target="#permissionModel"
                          hx-get="{% url 'rental:rent_process:order-permission' %}" hx-target="#permission-modal-content">
                          <i class="fa ft-plus-circle mr-1"></i>Permissions
                        </button>
                     {% endif %}

                    <button type="button" class="btn bg-light-secondary ml-1"
                      hx-get="{% url 'rental:rent_process:rental-import-order' %}" hx-target="#modalContent"
                      hx-trigger="click" data-toggle="modal" data-target="#inlineForm">
                      <i class="fa ft-briefcase mr-1"></i>Import Order
                    </button>

                    <button type="button" class="btn bg-light-primary ml-1" data-toggle="modal" data-target="#createOrder"
                      hx-get="{% url 'rental:rent_process:order-create' %}"
                      hx-target="#product-modal-content" >
                      <i class="fa ft-plus-circle mr-1"></i>Create Order
                    </button>
                    
                    <!-- permission model -->
                    <div class="float-right">
                      <div class="modal fade text-left" tabindex="-1" role="dialog" id="permissionModel" aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Requiered Permissions</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                              </button>
                            </div>
                            <div class="modal-body" id="permission-modal-content">
                            </div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Permission Model -->
                    <!-- create order model -->
                    <div class="card-header">
                      <div class="float-right">
                        <div class="modal fade text-left" tabindex="-1" role="dialog" id="createOrder" aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
                          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Create Order</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                                </button>
                              </div>
                              <div class="modal-body" id="product-modal-content">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                  <div class="form-loader loading-form mb-2"></div>
                                  <span>Form is being prepared...</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end create order model -->

                    <!-- create order model -->
                    <div class="card-header">
                      <div class="float-right">
                        <div class="modal fade text-left" tabindex="-1" role="dialog" id="UpdateOrder" aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
                          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Update Order</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                                </button>
                              </div>
                              <div class="modal-body" id="update-product-modal-content">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                  <div class="form-loader update--loading-form mb-2"></div>
                                  <span>Form is being prepared...</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end Update order model -->

                    <div id="UpdatemodalDiv">
                      <!-- Dynamic data render  -->
                    </div>
                    <!-- Import Order Modal -->
                    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
                      aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div id="modalContent">
                            <!-- Form content will be dynamically inserted here by HTMX -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  

                <!-- End Import Order Modal -->
                <!-- Buttons -->

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="order-list">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Delivery</th>
                          <th>Status</th>
                          <th>Customer</th>
                          <th>Order Amount</th> <!-- Added based on your request -->
                          <th>Project Manager</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>RECCURENCE TYPE</th>
                          <th>Last Updated Date</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header">
            <div class="float-right">
              <div
                class="modal fade text-left"
                id="TimeLine"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel33"
                aria-hidden="true"
                data-backdrop="false"
              >
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                        {% include "rental/rent_process/timeline.html" %}
                      <!-- </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab2" aria-labelledby="base-tab12">
            <div class="card">
              <div class="card-content">
                <div class="float-left ml-4">
                  <data class="row mb-2">
                    <h4>Return Order</h4>
                  </data>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="return-order" class="table table-striped table-bordered" style="width:100%;">
                      <thead>
                        <tr>
                          <th>ORDER ID</th>
                          <th>DELIVERY ID</th>
                          <th>STATUS</th>
                          <th>CUSTOMER</th>
                          <th>PROJECT MANAGER</th>
                          <th>START DATE</th>
                          <th>END DATE</th>
                          <th>LAST UPDATED DATE</th>
                          <th>ACTIONS</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="tab-pane" id="tab3" aria-labelledby="base-tab13">
            <div class="card">
              <div class="card-content">
                <div class="float-left ml-4">
                  <data class="row mb-2">
                    <h4>Recurring Order</h4>
                  </data>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="recurring-order" style="width:100%;">
                      <thead>
                        <tr>
                          <th>ORIGINAL ORDER ID</th>
                          <th>RECURRING ORDER ID</th>
                          <th>CUSTOMER</th>
                          <th>ORDER AMOUNT</th>
                          <th>PROJECT MANAGER</th>
                          <th>RECURRING TYPE</th>
                          <th>RECURRING START </th>
                          <th>RECURRING END</th>
                          <th>NUMBER OF ORDERS</th>
                          <th>ACTIONS</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard End For Order List -->


<!-- Update Return Order Start -->
<div class="modal fade text-left" id="update_return_order" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="update_return_order_body">

  </div>
</div>
<!-- Update Return Order End -->

<!-- Rental Stage Start -->
<div class="modal fade text-left" id="rental_stage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel5">PROJ016968 : Rental Stage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>IDs</th>
              <th>Stages</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PROJ016968 1/2</td>
              <td><span class="badge bg-light-primary">Check Out</span></td>
            </tr>
            <tr>
              <td>PROJ016968 2/2</td>
              <td><span class="badge bg-light-warning">Pick UP</span></td>
            </tr>
          </tbody>


        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Rental Stage End -->

<!-- Update Recurring Order -->
<div class="modal fade text-left" id="update_recurring_order" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="update_recurring_order_body">

  </div>
</div>
<!-- Update Recurring Order -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var urlParams = new URLSearchParams(window.location.search);
    var tab = urlParams.get("tab");

    // Default active tab set karna
    if (tab === "recurring_order") {
      $('#base-tab13').tab('show');
    } else if (tab === "return_order") {
      $('#base-tab12').tab('show');
    } else {
      $('#base-tab11').tab('show');
    }

    document.querySelectorAll('.nav-link').forEach(function (tab) {
      tab.addEventListener("click", function (event) {
        var tabId = event.target.getAttribute("aria-controls");
        var newUrl = new URL(window.location.href);

        if (tabId === "tab3") {
          newUrl.searchParams.set("tab", "recurring_order");
        } else if (tabId === "tab2") {
          newUrl.searchParams.set("tab", "return_order");
        } else {
          newUrl.searchParams.set("tab", "order");
        }

        window.history.pushState({}, "", newUrl);
      });
    });
  });
</script>
<script>

  targets = [1, 2, -3]
  table_id = "#order-list";
  url = "{% url 'rental:rent_process:order-list-ajax' %}";
  columns = [
    { data: 'order_id', name: 'order_id' },
    { data: 'delivery_id', name: 'delivery_id' },
    { data: 'status', name: 'status' },
    { data: 'customer', name: 'customer' },
    { data: 'order_amount', name: 'rent_amount' },
    { data: 'account_manager', name: 'account_manager' },
    { data: 'start_date', name: 'rental_start_date' },
    { data: 'end_date', name: 'rental_end_date' },
    { data: 'recurring_type', name: 'recurring_type' },
    { data: 'last_updated_date', name: 'updated_at' },
    { data: 'actions', name: 'actions', orderable: false, searchable: false }
  ];
</script>

<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/datatable/dataTables.bootstrap4.min.js' %}"></script>

<script>
  var table_task = initializeDataTable();

  function initializeDataTable() {
    return $('#recurring-order').DataTable({
      processing: true,
      columnDefs: [
        { orderable: false, targets: [-1, -2] },
      ],
      serverSide: true,
      destroy: true,
      ajax: {
        url: "{% url 'rental:rent_process:recurring-order-ajax' %}",
        type: 'GET',
      },
      columns: [
        { data: 'order_id', name: 'order__order_id' },
        { data: 'recurring_order_id', name: 'recurring_order_id' },
        { data: 'customer', name: 'order__customer__name' },
        { data: 'order_amount', name: 'order__rent_amount' },
        { data: 'account_manager', name: 'order__account_manager__name' },
        { data: 'recurring_type', name: 'order__recurring_type' },
        { data: 'repeat_start_date', name: 'order__repeat_start_date' },
        { data: 'repeat_end_date', name: 'order__repeat_end_date' },
        { data: 'number_of_orders', name: 'number_of_orders' },
        { data: 'actions', name: 'actions', orderable: false, searchable: false }
      ],

    });
  }
</script>

<script>
  var table_task = initializeDataTable();

  function initializeDataTable() {
    return $('#return-order').DataTable({
      processing: true,
      serverSide: true,
      destroy: true,
      ajax: {
        url: "{% url 'rental:rent_process:return-order-ajax' %}",
        type: 'GET',
        dataSrc: "data", // Ensure yeh "data" key se values le raha ho
      },
      columns: [
        { data: "order_id", name: "order__order_id" },
        { data: "delivery_id", name: "delivery__delivery_id" },
        { data: "status", name: "delivery__delivery_status" },
        { data: "customer", name: "order__customer__name" },
        { data: "account_manager", name: "order__account_manager__name" },
        { data: "start_date", name: "order__repeat_start_date" },
        { data: "end_date", name: "order__repeat_end_date" },
        { data: 'last_updated_date', name: 'order__updated_at' },
        { data: 'actions', name: 'actions', orderable: false, searchable: false }
      ],
    });
  }
</script>

<!-- showing an proper message after storing in local and reload tha page  -->
<script>
  $(document).on('click', '.rent-process-delete-btn', function (e) {
    var id = $(this).data("id")
    var user_name = $(this).data("title")
    if (user_name == "None") {
      user_name = ""
    }
    var url = $(this).data("url")
    var delete_ele = $(this)

    Swal.fire({
      html: `Are you sure you want to delete <b>${user_name}</b>?`,
      icon: 'question',
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonColor: "#7442DB",

    }).then((result) => {

      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            "id": id,
            "csrfmiddlewaretoken": '{{ csrf_token }}'
          },
          success: function (data) {
            if (data.code === "200") {
              localStorage.setItem('toastr_message', JSON.stringify({
                type: 'info',
                message: data.message,
                title: 'Deleted'
              }));

              window.location.reload();
            } else if (data.code === "404") {
              localStorage.setItem('toastr_message', JSON.stringify({
                type: 'error',
                message: data.message,
                title: 'Error'
              }));

              window.location.reload();
            }
          },
          error: function (xhr, status, error) {
            Swal.fire("Error", "Unable to process the request. Please try again.", "error");
          }
        });
      } else {
        Swal.fire("Cancel delete", "", "info");
      }
    })
  })
  document.addEventListener('DOMContentLoaded', function () {
    // Check if there's a toastr message in localStorage
    const toastrData = localStorage.getItem('toastr_message');

    if (toastrData) {
      const { type, message, title } = JSON.parse(toastrData);

      // Show toastr based on the type
      if (type === 'info') {
        toastr.info(message, title, {
          closeButton: true,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          timeOut: 6000
        });
      } else if (type === 'error') {
        toastr.error(message, title, {
          closeButton: true,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          timeOut: 6000
        });
      }

      // Clear the toastr message from localStorage
      localStorage.removeItem('toastr_message');
    }
  });
</script>

<!-- swap the form in to the model -->
<script>
  $(document).on('click', '.htmx-trigger-btn', function (e) {
    url = $(this).data("url")
    console.log('url:======>>dfgfdg ', url);
    htmx.ajax('GET',
      url,
      {
        target: '#update_recurring_order_body',
        swap: 'innerHTML',
      }).then(() => {
        $('#update_recurring_order').toggleClass('hidden');
      })
  })
</script>

<script>
  $(document).on('click', '.htmx-trigger-btn-update-btn', function (e) {
    url = $(this).data("url")
    htmx.ajax('GET',
      url,
      {
        target: '#update-product-modal-content',
        swap: 'innerHTML',
      }).then(() => {
        $('#UpdateOrder').toggleClass('hidden');
      })
  })
</script>

<script>
  $(document).on('click', '.htmx-trigger-return-edit', function (e) {
    url = $(this).data("url")
    console.log('url:==========>> ', url);
    htmx.ajax('GET',
      url,
      {
        target: '#update_return_order_body',
        swap: 'innerHTML',
      }).then(() => {
        $('#update_return_order').toggleClass('hidden');
      })
  })
</script>
