{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/datatables/dataTables.bootstrap4.min.css' %}" />

<!-- Wizard Starts For Order List-->
<section id="icon-tabs" class="tab-1">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="base-tab11"
                data-toggle="tab"
                aria-controls="tab1"
                href="#tab1"
                aria-expanded="true"
                >Product List</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="base-tab13"
                data-toggle="tab"
                aria-controls="tab2"
                href="#tab2"
                aria-expanded="false"
                >Additional Material</a
              >
            </li>
          </ul>
        </div>
        <div class="tab-content">

          <!-- Product Tab -->
          <div class="tab-pane active" id="tab1" aria-labelledby="base-tab11">
            <div class="card">

              <div class="card-header d-flex justify-content-between">

                <!-- Product List Tab -->
                <div class="float-left">
                    <h4>Product List</h4>
                </div>

                <!-- Import Product Strat -->
                <div class="float-right">
                  <button
                    type="button"
                    class="btn bg-light-secondary"
                    hx-get="{% url 'proposal_app:product:import-products' %}"
                    hx-target="#modalContent"
                    hx-trigger="click"
                    data-toggle="modal"
                    data-target="#inlineForm"
                  >
                    <i class="fa ft-briefcase mr-1"></i>Import Products
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade text-left"
                    id="inlineForm"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel33"
                    aria-hidden="true"
                    data-backdrop="false"
                    >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div id="modalContent">
                                <!-- Form content will be dynamically inserted here by HTMX -->
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Import Product End -->

              </div>

              <div class="card-content">

                <!-- Product List Table Start -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered" id="product-table"
                    >
                      <thead>
                        <tr>
                          <th>Internal ID</th>
                          <th>Description</th>
                          <th>Std Cost</th>
                          <th>Primary Units Type</th>
                          <th>Primary Stock Unit</th>
                          <th>Preferred Vendor</th>
                          <th>Family </th>
                          <th>Type</th>
                          <th>Name</th>
                          <th>Parent</th>
                          <th>Display Name</th>
                          <th>Tax Schedule</th>
                          <th>Formula</th>
                        </tr>
                      </thead>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Product List Table End -->

              </div>
            </div>
          </div>

          <!-- Glue Tab -->
          <div class="tab-pane" id="tab2" aria-labelledby="base-tab11">
            <div class="card">

              <div class="card-header d-flex justify-content-between">

                <!-- Glue Tab -->
                <div class="float-left">
                    <h4>Additional Material</h4>
                </div>

                <!-- Import Glue Strat -->
                <div class="float-right">
                  <button
                    type="button"
                    class="btn bg-light-secondary"
                    hx-get="{% url 'proposal_app:product:import-additional-material' %}"
                    hx-target="#glueModalContent"
                    hx-trigger="click"
                    data-toggle="modal"
                    data-target="#GlueData"
                  >
                    <i class="fa ft-briefcase mr-1"></i>Import Additional Material
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade text-left"
                    id="GlueData"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel33"
                    aria-hidden="true"
                    data-backdrop="false"
                    >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div id="glueModalContent">
                                <!-- Form content will be dynamically inserted here by HTMX -->
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Import Glue End -->

              </div>

              <div class="card-content">

                <!-- Glue Table Start -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered" id="glue-data"
                      style="width: 100%;"
                    >
                      <thead>
                        <tr>
                          <th>Material ID</th>
                          <th>Material Name</th>
                          <th>Material Type</th>
                          <th>Product Code</th>
                          <th>Material Factor</th>
                          <th>Additional Material Factor</th>
                        </tr>
                      </thead>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Glue Table End -->

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard End For Order List -->


<!-- Product Data Table -->
<script>

  targets = [];
  table_id = "#product-table";
  url = "{% url 'proposal_app:product:products-list-ajax' %}";
  columns = [
      { data: 'internal_id', name: 'internal_id' },
      { data: 'description', name: 'description' },
      { data: 'std_cost', name: 'std_cost' },
      { data: 'primary_units_type', name: 'primary_units_type' },
      { data: 'primary_stock_unit', name: 'primary_stock_unit' },
      { data: 'preferred_vendor', name: 'preferred_vendor' },
      { data: 'family', name: 'family' },
      { data: 'type', name: 'type' },
      { data: 'name', name: 'name' },
      { data: 'parent', name: 'parent' },
      { data: 'display_name', name: 'display_name' },
      { data: 'tax_schedule', name: 'tax_schedule' },
      { data: 'formula', name: 'formula' },
  ];

</script>


<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/datatable/dataTables.bootstrap4.min.js' %}"></script>

<script>
  var table_task = initializeDataTable();

  function initializeDataTable() {
      return $('#glue-data').DataTable({
          processing: true,
          serverSide: true,
          destroy: true,
          ajax: {
              url: "{% url 'proposal_app:product:additional-material-ajax' %}",
              type: 'GET',
          },
          columns: [
            { data: 'material_id', name: 'material_id' },
            { data: 'material_name', name: 'material_name' },
            { data: 'material_type', name: 'material_type' },
            { data: 'product_item_number', name: 'product_item_number' },
            { data: 'material_factor', name: 'material_factor' },
            { data: 'additional_material_factor', name: 'additional_material_factor' },
          ],

      });
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const tab = urlParams.get('tab');

    if (tab === 'additional_material') {
      $('#base-tab13').tab('show');
    } else {
      $('#base-tab11').tab('show');
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      const tabId = e.target.getAttribute('aria-controls');
      const newUrl = new URL(window.location.href);

      if (tabId === 'tab2') {
        newUrl.searchParams.set('tab', 'additional_material');
      } else {
        newUrl.searchParams.set('tab', 'product_list');
      }

      window.history.pushState({}, '', newUrl);
    });
  });
</script>