{% load static %}

<div class="form-group">
  <!-- Mismatched Products starts -->
  <div class="row">
    <div id="MismatchedProducts" class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Material Description</th>
            <th>Cost</th>
            <th>Vendor Quoted Cost</th>
            <th>Vendor Name</th>
          </tr>
        </thead>
        <tbody>
          {% for n in new_material_master_data %}
              <tr>
                <td>{{ n.description }}</td>

                {% if n.standard_cost %}
                  <td>${{ n.standard_cost }}</td>
                {% elif n.local_cost %}
                  <td>${{ n.local_cost }}</td>
                {% else %}
                  <td> - </td>
                {% endif %}

                {% if n.vendor_quoted_cost %}
                  <td>${{ n.vendor_quoted_cost }}</td>
                {% else %}
                  <td> - </td>
                {% endif %}

                {% if n.vendor %}
                  <td>{{ n.vendor }}</td>
                {% else %}
                  <td> - </td>
                {% endif %}

              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Netsuite Compatible Products starts -->
  <div class="row">
    <div id="NetSuiteProducts" class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>InternalID</th>
            <th>Task</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Item code</th>
          </tr>
        </thead>
        <tbody>
          {% for netsuite_data in netsuite_extract_data  %}
            <tr>
              {% if netsuite_data.internal_id %}
                <td>{{ netsuite_data.internal_id }}</td>
              {% else %}
                <td> - </td>
              {% endif %}
              <td>{{ netsuite_data.assigned_product.task_mapping.code }}</td>
              <td>{{ netsuite_data.assigned_product.quantity }}</td>
              <td>{{ netsuite_data.assigned_product.description }}</td>
              {% if  netsuite_data.assigned_product.item_code %}
                <td>{{ netsuite_data.assigned_product.item_code }}</td>
              {% else %}
                <td> - </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Quoted Price Products starts -->
  <div class="row">
    <div id="QuotedPriceProducts" class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="text-center">
          <tr>
            <th>Item Code</th>
            <th>Standard Cost</th>
            <th>Vendor Quoted Cost</th>
            <th>Vendor Name</th>
          </tr>
        </thead>
        <tbody>
          <!-- Row 1 -->
          {% for q in cost_variances_data %}
            <tr>
              {% if q.item_code %}
                <td>{{ q.item_code }}</td>
              {% else %}
                <td> - </td>
              {% endif %}
              <td>${{ q.standard_cost }}</td>
              {% if q.vendor_quoted_cost %}
                <td>${{ q.vendor_quoted_cost }}</td>
              {% else %}
                <td> - </td>
              {% endif %}
              {% if q.vendor %}
                <td>{{ q.vendor }}</td>
              {% else %}
                <td> - </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Buttons -->
  <div class="row">
    <div class="col-12 my-1">
      <button type="button" class="btn bg-light-primary" onclick="printContent('proposal')">
        <em class="ft-printer"></em> Proposal
      </button>
    </div>
    <div class="col-12 my-1">
      <button
        type="button"
        class="btn bg-light-info"
        onclick="DownloadProductsInCSV('MismatchedProducts', 'new_material_master_data')"
      >
        <em class="ft-download"></em> New Material Master Data
      </button>
    </div>

    <div class="col-12 my-1">
      <button
        type="button"
        class="btn bg-light-secondary"
        onclick="DownloadProductsInCSV('QuotedPriceProducts', 'costs_variances')"
      >
        <em class="ft-download"></em>Cost Variance
      </button>
    </div>
    <div class="col-12 my-1">
      <button
        type="button"
        class="btn bg-light-success"
        onclick="DownloadProductsInCSV('NetSuiteProducts', 'netsuite_extract')"
      >
        <em class="ft-download"></em>NetSuite Extract
      </button>
    </div>
  </div>
</div>
{% block script %}
  <!-- Download CSV File -->
  <script>
    function DownloadProductsInCSV(id, fileName) {
      var table = document.getElementById(id);

      // Extract headers from the table
      var headers = [];
      var headerRow = table.querySelector("tr");
      var headerCols = headerRow.querySelectorAll("th, td");
      headerCols.forEach(function(col) {
        headers.push('"' + col.innerText.replace(/"/g, '""') + '"');
      });
      var csvContent = headers.join(",") + "\n";

      var rows = table.querySelectorAll("tr");
      for (var i = 1; i < rows.length; i++) {
        var rowData = [];
        var cols = rows[i].querySelectorAll("td");
        cols.forEach(function(col) {
          rowData.push('"' + col.innerText.replace(/"/g, '""') + '"');
        });
        csvContent += rowData.join(",") + "\n";
      }

      var blob = new Blob([csvContent], { type: "text/csv" });

      var url = window.URL.createObjectURL(blob);

      var link = document.createElement("a");
      link.setAttribute("href", url);
      link.setAttribute("download", fileName + ".csv");

      link.click();

      window.URL.revokeObjectURL(url);
    }
  </script>

  <!-- printContent function -->
  <script>
    function printContent(id) {
        var content = document.getElementById(id).innerHTML; // Get the content to print
        var originalDocument = document.body.innerHTML;

        document.body.innerHTML = content; // Temporarily replace the document's body content

        // Hide icons and any other elements that shouldn't appear in print
        var printStyles = `
            <style>
                /* Hide all icons */
                .icon {
                  display: none !important;
                }

                .form-control {
                  border: none !important;
                }

                input[type="checkbox"] {
                  display: none !important;
                  border: none;
                }

                .select2-container,
            .select2-container--default {
                display: none !important;
            }
                /* Show the print-customer-name span */
                #print-customer-name {
                    display: inline !important;
                }
            </style>
        `;

        document.body.insertAdjacentHTML('afterbegin', printStyles);
        document.querySelectorAll('.d-icon').forEach(icon => {
            icon.outerHTML = "*";
        });

        function afterPrint() { // Function to handle after printing
            document.body.innerHTML = originalDocument;
            window.location.reload();
        }

        const observer = new MutationObserver(() => { // Create a MutationObserver to wait for content changes
            window.print();
            observer.disconnect();
        });

        observer.observe(document.body, { // Start observing the body for changes
            childList: true,
            subtree: true
        });

        window.onafterprint = afterPrint; // Listen for the after print event

        setTimeout(() => {
            document.body.innerHTML = document.body.innerHTML;
        }, 1000);
    }
  </script>
{% endblock script %}
