{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="Laurel - AG & Water" />
      <title>Laurel - AG & Water</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'app/img/ico/favicon-32.png' %}" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-touch-fullscreen" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <link
         href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900"
         rel="stylesheet" />
      <!-- BEGIN VENDOR CSS-->
      <!-- font icons-->
      <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/feather/style.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/simple-line-icons/style.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/font-awesome/css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/perfect-scrollbar.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/prism.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/switchery.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/pickadate/pickadate.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-extended.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/datatables/dataTables.bootstrap4.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/css/colors.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/css/components.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'app/css/themes/layout-dark.min.css' %}" />
      <link rel="stylesheet" href="{% static 'app/css/plugins/switchery.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/dropzone.min.css' %}" />
      <link rel="stylesheet" href="{% static 'app/css/pages/form-wizard.min.css' %}" />
      <link rel="stylesheet" href="{% static 'app/css/pages/ex-component-sweet-alerts.min.css' %}" />
      <!-- END Page Level CSS-->
      <!-- BEGIN: Custom CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'app/assets/css/style.css' %}" />
      <!-- END: Custom CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/select2.min.css' %}" />
      <link rel="stylesheet" href="{% static '/app/css/pages/app-email.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/dropzone.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
   </head>
   <!-- END : Head-->
   <!-- BEGIN : Body-->
   <body class="vertical-layout vertical-menu 2-columns navbar-sticky pace-done nav-collapsed" data-menu="vertical-menu" data-col="2-columns">
      {% block nav %} {% endblock nav %}
      <!-- Navbar (Header) Ends-->
      <!-- ////////////////////////////////////////////////////////////////////////////-->
      <div class="wrapper">
         <!-- main menu-->
         <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->
         {% block page_content %}{% endblock page_content%}
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!-- END Notification Sidebar-->
      <!-- Theme customizer Starts-->
      <!-- Theme customizer Ends-->
      <div class="sidenav-overlay"></div>
      <div class="drag-target"></div>
      <!-- BEGIN VENDOR JS-->
      <script src="{% static 'vendors/js/vendors.min.js' %}"></script>
      <script src="{% static 'vendors/js/switchery.min.js' %}"></script>
      <!-- BEGIN VENDOR JS-->
      <!-- BEGIN PAGE VENDOR JS-->
      <script src="{% static 'vendors/js/jquery.steps.min.js' %}"></script>
      <script src="{% static 'vendors/js/pickadate/picker.js' %}"></script>
      <script src="{% static 'vendors/js/pickadate/picker.date.js' %}"></script>
      <script src="{% static 'vendors/js/pickadate/picker.time.js' %}"></script>
      <script src="{% static 'vendors/js/pickadate/legacy.js' %}"></script>
      <script src="{% static 'vendors/js/dropzone.min.js' %}"></script>
      <!-- END PAGE VENDOR JS-->
      <script src="{% static 'app/js/core/app-menu.min.js' %}"></script>
      <script src="{% static 'app/js/core/app.min.js' %}"></script>
      <script src="{% static 'app/js/notification-sidebar.min.js' %}"></script>
      <script src="{% static 'app/js/customizer.min.js' %}"></script>
      <script src="{% static 'app/js/scroll-top.min.js' %}"></script>
      <!-- BEGIN PAGE LEVEL JS-->
      <script src="{% static 'app/js/form-wizard.min.js' %}"></script>
      <!-- END PAGE LEVEL JS-->
      <script src="{% static 'app/js/select2.min.js' %}"></script>
      <!-- BEGIN: Custom CSS-->
      <script src="{% static 'app/assets/js/`' %}"></script>
      <script src="{% static 'app/js/ex-component-sweet-alerts.min.js' %}"></script>
      <!-- BEGIN PAGE VENDOR JS-->
      <script src="{% static 'vendors/js/datatable/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'vendors/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
      <!-- END PAGE VENDOR JS-->
      <!-- BEGIN PAGE LEVEL JS-->
      <script src="{% static 'app/js/data-tables/dt-basic-initialization.js' %}"></script>
      <script src="{% static 'app/js/data-tables/dt-advanced-initialization.js' %}"></script>
      <script src="{% static 'vendors/js/datatable/buttons.print.min.js' %}"></script>
      <script src="{% static 'vendors/js/datatable/dataTables.buttons.min.js' %}"></script>
      
      <!-- END PAGE LEVEL JS-->
      <!-- END: Custom CSS-->
      <script>
         // Get all "Read More" links
         const readMoreLinks = document.querySelectorAll('.read-more');
         
         readMoreLinks.forEach((link, index) => {
           const modalId = `inlineComment${index + 1}`;
           link.setAttribute('data-toggle', 'modal');
           link.setAttribute('data-target', `#${modalId}`);
         
           const modalTemplate = document.querySelector('.modal');
           const modalClone = modalTemplate.cloneNode(true);
           modalClone.setAttribute('id', modalId);
           document.body.appendChild(modalClone);
         });
      </script>

      {% block script %}
      
      {% endblock script %}
   </body>
</html>
