<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <p class="clearfix text-muted m-0">
          <span>Copyright &copy; 2024 &nbsp;</span>
          <span
            ><a href="#" id="pixinventLink" target="_blank"
              >Laurel AG & Water</a
            ></span
          >
        </p>
      </div>
      <div class="col-md-6 text-right">
        <p class="clearfix text-muted m-0">
          <span class="d-inline-block d-sm-none"><br /></span>
          <!-- Adds a line break for small screens -->
          <span class="d-none d-sm-inline-block"
            >Designed by Markman Group, All rights reserved.</span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
