{% load static %}
<!-- Main Start -->
<div class="email-application overflow-hidden">
  <div class="row">
    <div class="email-search-box w-100 p-2">
      <div class="row ml-2">
        <div class="email-app-menu">
          <div class="list-group list-group-messages">
            <a
              href="javascript:;"
              class="list-group-item list-group-item-action active border-0"
            >
              <i class="ft-inbox mr-2"></i><span>Inbox</span>
              <span class="badge bg-light-secondary badge-pill float-right mx-1"
                >8</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <!-- Search -->
        <div class="media px-2 d-flex align-items-center">
          <span
            class="email-app-sidebar-toggle ft-menu cursor-pointer font-large-1 mr-3 d-xl-none"
          ></span>
          <div class="media-body pr-1">
            <input
              type="text"
              id="search-input"
              class="form-control"
              placeholder="Search for messages..."
            />
          </div>
        </div>
        <!-- Search -->
      </div>
      <div class="card-containt">
        <div class="card-body">
          <!-- Main Email Inbox Start -->
          <div class="email-app-content-area w-100">
            <div class="email-app-list-mails p-0">
              <div class="email-app-list">
                <div id="users-list">
                  <div class="list-group list">
                    <div class="users-list-padding">
                      <!-- 1 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-1">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-info mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >4:14 AM</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Pick Up
                            </p>
                            <p class="list-group-item-text">
                              Pick Up Request..
                            </p>
                          </div>
                        </div>
                      </a>

                      <!-- 2 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-2">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-danger mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >2:15 AM</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Create Delivery
                            </p>
                            <p class="list-group-item-text">
                              We are pleased to inform...
                            </p>
                          </div>
                        </div>
                      </a>
                      
                      <!-- 3 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-3">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-warning mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >11:18 PM</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Check Out
                            </p>
                            <p class="list-group-item-text">
                              We are pleased to inform...
                            </p>
                          </div>
                        </div>
                      </a>
                      
                      <!-- 4 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-4">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-success mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >15 May</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Check In
                            </p>
                            <p class="list-group-item-text">
                              We are pleased to inform...
                            </p>
                          </div>
                        </div>
                      </a>

                      <!-- 5 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-5">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-warning mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >11 May</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Return Pick Up
                            </p>
                            <p class="list-group-item-text">
                              We are pleased to inform...
                            </p>
                          </div>
                        </div>
                      </a>

                      <!-- 6 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-6">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-info mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >8 May</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Return Pick Up
                            </p>
                            <p class="list-group-item-text">We are pleased to inform </p>
                          </div>
                        </div>
                      </a>

                      <!-- 7 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-7">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-success mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >15 Mar</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              Trends Reshaping...
                            </p>
                            <p class="list-group-item-text">What emerging tre...</p>
                          </div>
                        </div>
                      </a>

                      <!-- 8 -->
                      <a class="list-group-item list-group-item-action border-0" data-target="email-content-8">
                        <div class="media email-list-text p-0">
                          <span class="avatar bg-warning mr-2">
                            <span class="avatar-content">W</span>
                          </span>
                          <div class="media-body">
                            <h6 class="list-group-item-heading">
                              <span>Warehouse App</span>
                              <span class="float-right">
                                <span class="font-small-2 grey darken-1 text-bold-400"
                                  >11 Feb</span
                                >
                              </span>
                            </h6>
                            <p class="list-group-item-text text-truncate">
                              <i class="ft-check primary font-small-2"></i>Check In
                            </p>
                            <p class="list-group-item-text">
                              We are pleased to inform...
                            </p>
                          </div>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-1">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">Pick Up</h3>
                  <p class="list-group-item-text">
                    <div class="col-md-12 col-lg-6">
                      <div class="card" style="border: 1px solid darkgray;">
                        <div class="card-header bg-primary">
                          <div class="float-left">
                            <h6 class="light"> <i class="ft-clipboard"></i> Pick Up Request</h6>
                          </div>
                          <div class="float-right">
                            <h6 class="light"> <i class="ft-clock"></i> 3:00 Am</h6>
                          </div>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <p>
                              We are pleased to inform you that you have been assigned a new Pick Up task for order: "ORD-123".
                              You have been entrusted with the responsibility of managing the Pick Up task for the order with ID "ORD-123".
                            </p>
                            <div class="media">
                              
                              <div class="media-body">
                                <p class="m-0 mb-2"> Pick Up request for Order ID : <a href="">ORD-023</a></p>
                                <span>
                                  <button type="button" class="btn btn-outline-info mr-2 mb-1"><i class="ft-check mr-1"></i>Accept</button>
                                  <button type="button" class="btn btn-outline-danger mr-2 mb-1"><i class="ft-x mr-1"></i>Decline</button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-2">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">
                    Create Delivery
                  </h3>
                  <p class="list-group-item-text">
                    We are pleased to inform you that you have been assigned a new create delivery task for order: "ORD-123".
                    You have been entrusted with the responsibility of managing the create delivery task for the order with ID "ORD-123"
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-3">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">
                    Check Out
                  </h3>
                  <p class="list-group-item-text">
                    We are pleased to inform you that you have been assigned a new check out task for order: "ORD-123".
                    You have been entrusted with the responsibility of managing the check out task for the order with ID "ORD-123"
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-4">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">
                    Check In
                  </h3>
                  <p class="list-group-item-text">
                    We are pleased to inform you that you have been assigned a new check In task for order: "ORD-123".
                    You have been entrusted with the responsibility of managing the check In task for the order with ID "ORD-123"
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-5">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">Return Pick Up</h3>
                  <p class="list-group-item-text">
                    <div class="col-md-12 col-lg-6">
                      <div class="card" style="border: 1px solid darkgray;">
                        <div class="card-header bg-primary">
                          <div class="float-left">
                            <h6 class="light"> <i class="ft-clipboard"></i> Return Pick Up Request</h6>
                          </div>
                          <div class="float-right">
                            <h6 class="light"> <i class="ft-clock"></i> 3:00 Am</h6>
                          </div>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <p>
                              We are pleased to inform you that you have been assigned a new Return Pick Up task for order: "ORD-123".
                              You have been entrusted with the responsibility of managing the Return Pick Up task for the order with ID "ORD-123"
                            </p>
                            <div class="media">
                              
                              <div class="media-body">
                                <p class="m-0 mb-2"> Pick Up request for Order ID : <a href="">ORD-023</a></p>
                                <span>
                                  <button type="button" class="btn btn-outline-info mr-2 mb-1"><i class="ft-check mr-1"></i>Accepted</button>
                                  
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-6">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">Return Pick Up</h3>
                  <p class="list-group-item-text">
                    <div class="col-md-12 col-lg-6">
                      <div class="card" style="border: 1px solid darkgray;">
                        <div class="card-header bg-primary">
                          <div class="float-left">
                            <h6 class="light"> <i class="ft-clipboard"></i> Return Pick Up Request</h6>
                          </div>
                          <div class="float-right">
                            <h6 class="light"> <i class="ft-clock"></i> 3:00 Am</h6>
                          </div>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <p>
                              We are pleased to inform you that you have been assigned a new Return Pick Up task for order: "ORD-123".
                              You have been entrusted with the responsibility of managing the Return Pick Up task for the order with ID "ORD-123"
                            </p>
                            <div class="media">
                              
                              <div class="media-body">
                                <p class="m-0 mb-2"> Pick Up request for Order ID : <a href="">ORD-023</a></p>
                                <span>
                                  <button type="button" class="btn btn-outline-info mr-2 mb-1"><i class="ft-check mr-1"></i>Accepted</button>
                                  
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-7">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">
                    Check In
                  </h3>
                  <p class="list-group-item-text">
                    We are pleased to inform you that you have been assigned a new check In task for order: "ORD-123".
                    You have been entrusted with the responsibility of managing the check In task for the order with ID "ORD-123"
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
            <div class="email-app-mail-content" id="email-content-8">
              <div class="email-app-mail-content-detail px-4 py-3 py-md-1">
                <div class="email-app-title card-body px-0">
                  <h3 class="list-group-item-heading">
                    Create Return Delivery
                  </h3>
                  <p class="list-group-item-text">
                    We are pleased to inform you that you have been assigned a new Create Return Delivery task for order: "ORD-123".
                    You have been entrusted with the responsibility of managing the Create Return Delivery task for the order with ID "ORD-123"
                  </p>
                </div>
                <div class="email-app-text-action card-content"></div>
              </div>
            </div>
          </div>
          <!-- Main Email Inbox End -->
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Main End -->


<!-- Script Start -->
<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'app/js/app-email.min.js' %}"></script>
<!-- Script End -->

<!-- Mail Inbox Script Start -->
<script>
  // Get all list items
  const listItems = document.querySelectorAll(".list-group-item");

  // Function to handle click on list item
  function handleListItemClick(event) {
    // Remove selected-email class from all list items
    listItems.forEach((item) => {
      item.classList.remove("selected-email");
    });

    // Add selected-email class to the clicked item
    event.currentTarget.classList.add("selected-email");

    // Get the data-target attribute value
    const targetId = event.currentTarget.getAttribute("data-target");

    // Hide all email content blocks
    const emailContents = document.querySelectorAll(".email-app-mail-content");
    emailContents.forEach((content) => {
      content.style.display = "none";
    });

    // Show the corresponding email content block
    const targetContent = document.getElementById(targetId);
    if (targetContent) {
      targetContent.style.display = "block";
    
    }
  }

  // Add click event listener to each list item
  listItems.forEach((item) => {
    item.addEventListener("click", handleListItemClick);
  });
</script>
<!-- Mail Inbox Script End -->

<!-- Search Jqery Start -->
<script>
  $(document).ready(function() {
    $("#search-input").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#users-list .list-group-item").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
<!-- Search Jqery End -->