{% load static %}

<div class="ml-3 mt-3">
    <div class="row">
      <h5>
        Warehouse:
      </h5>
      <span class="ml-1 border-right pr-2">
        WB-1
      </span>
      <h5 class="pl-2">
        Location:
      </h5>
      <span class="ml-1 border-right pr-2">
        Bakersfield
      </span>
      <h5 class="pl-2">
        Address:
      </h5>
      <span class="ml-1 pr-3">
        9213 Old River Rd. Bakersfield, CA 93311
      </span>
    </div>
  </div>

<!-- Wizard Starts -->

<section id="multiple-select2">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
        <div class="card-header">
            <div class="float-right">
                <div class="row mb-1">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                <thead>
                <tr>
                    <th>Internal ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>115</td>
                    <td>COMPANION FLG GALV 4" FLGXFPT</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>194</td>
                    <td>EP ADAP IPS 6" WT X FLG W/ 2" PORT	</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>124</td>
                    <td>MISTER BLU NOZZEL W/ CHECK VALVE NETAFIM VIBRONET</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>121</td>
                    <td>SN BL10.6GPH STK30" LD LRSS</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>122</td>
                    <td>SN PC HEAD 18.5GPH BLU W/DFLTR</td>
                    <td>20</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
