<div class="card-header">
  <div class="float-right">
    <div
      class="modal fade text-left"
      id="add_product"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel33"
      aria-hidden="true"
      data-backdrop="false"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Order</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"
                ><i class="ft-x font-medium-2 text-bold-700"></i
              ></span>
            </button>
          </div>
          <form action="#">
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <label>Customer: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Customer"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Date: </label>
                  <div class="form-group">
                    <input
                      type="date"
                      placeholder="Category"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label>Document Number: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Document Number"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <label>ID: </label>
                  <div class="form-group">
                    <input type="text" placeholder="ID" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Name: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Name"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Project Manager: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Project Manager"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Location: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Location"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Quantity: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Quantity"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Item: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Item"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Sum Of Item Rate: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Sum Of Item Rate"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Sum Of Amount: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Sum Of Amount"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Start Date: </label>
                  <div class="form-group">
                    <input
                      type="date"
                      placeholder="Customer Price"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>End Date: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Estimated Code"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Rental Recurrence: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Rental Recurrence"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>Rental Type: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Rental Type"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col">
                  <label>Region: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Region"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="reset"
                class="btn bg-light-secondary"
                data-dismiss="modal"
                value="Close"
              />
              <input type="submit" class="btn btn-primary" value="Add Order" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
