<div class="card-header">
  <div class="float-right">
    <div
      class="modal fade text-left"
      id="TimeLine"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel33"
      aria-hidden="true"
      data-backdrop="false"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">PROJ016968 Order History</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"
                ><i class="ft-x font-medium-2 text-bold-700"></i
              ></span>
            </button>
          </div>
          <form action="#">
            <div class="modal-body">
              <!--Vertical Timeline Starts-->
              <section
                id="vertical-timeline-center"
                class="timeline-center timeline-wrapper col-sm-10 col-12 offset-sm-1"
              >
                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>

                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer">Pre-Processing</span>
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3">5th May, 2024</span>
                        </div>
                      </div>
                      <div class="card-content"></div>
                    </div>
                  </li>
                </ul>

                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <span></span>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer"
                            >In Transit-Outbound</span
                          >
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3">7th May, 2024</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>

                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer">Customer Delivery</span>
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3">15 May, 2024</span>
                        </div>
                      </div>
                      <div class="card-content"></div>
                    </div>
                  </li>
                </ul>

                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <span></span>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer"
                            >Final Pick-up and Inspection</span
                          >
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3"
                            >18 June, 2016 at 4.50 P.M</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>

                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer"
                            >In Transit - Inbound</span
                          >
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3"
                            >20 June, 2016 at 4.50 P.M</span
                          >
                        </div>
                      </div>
                      <div class="card-content"></div>
                    </div>
                  </li>
                </ul>

                <ul class="timeline">
                  <li class="timeline-line"></li>
                  <span></span>
                  <li class="timeline-item">
                    <div class="timeline-badge">
                      <span
                        class="bg-primary bg-lighten-4"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="Nullam facilisis fermentum"
                      >
                        <i class="ft-command primary"></i>
                      </span>
                    </div>
                    <div class="timeline-card card shadow-z-1">
                      <div class="card-header pt-0">
                        <h4 class="mb-0 card-title">
                          <span class="cursor-pointer">Warehouse Storage</span>
                        </h4>
                        <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3">28 June, 2024</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
              <!--Vertical Timeline Ends-->
            </div>
            <div class="modal-footer">
              <input
                type="reset"
                class="btn bg-light-secondary"
                data-dismiss="modal"
                value="Close"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
