{% load static %}

<div class="row">
  <div class="col-12">
    <div class="content-header">Warehouse Product List</div>
  </div>
</div>

<!-- Wizard Starts -->
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title"></h4>
          <div class="float-right">
            <div class="row mb-1">
              <!-- Import Products Starts -->
              <button
                type="button"
                class="btn bg-light-secondary"
                data-toggle="modal"
                data-target="#import_product"
              >
                <i class="fa ft-briefcase mr-1"></i> Import Warehouse Product
              </button>

              <!-- Import Products Modal -->
              <div
                class="modal fade text-left"
                id="import_product"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel33"
                aria-hidden="true"
                data-backdrop="false"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel5">
                        Import Warehouse Products
                      </h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true"
                          ><i class="ft-x font-medium-2 text-bold-700"></i
                        ></span>
                      </button>
                    </div>
                    <form action="#">
                      <div class="modal-body">
                        <label>Upload File </label>
                        <div class="form-group">
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              id="inputGroupFile01"
                            />
                            <label
                              class="custom-file-label"
                              for="inputGroupFile01"
                              >Choose file</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a role="menuitem" class="btn btn-primary">Upload </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Import Products Ends -->

              <!-- Add Products Starts -->
              {% comment %}
              <button
                type="button"
                class="btn bg-light-primary ml-1"
                data-toggle="modal"
                data-target="#add_product"
              >
                <i class="fa ft-plus-circle mr-1"></i>Add Products
              </button>

              <div
                class="modal fade text-left"
                id="add_product"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel33"
                aria-hidden="true"
                data-backdrop="false"
              >
                <div
                  class="modal-dialog modal-lg modal-dialog-centered"
                  role="document"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Add Product</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true"
                          ><i class="ft-x font-medium-2 text-bold-700"></i
                        ></span>
                      </button>
                    </div>
                    <form action="#">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col">
                            <label>Item Number: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Item Number"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label>Category: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Category"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <label>Description: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Description"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <label>Units: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Units"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label>Available QTY: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Available QTY"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <label>Average Cost: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Average Cost"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label>Last Purchase Price: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Last Purchase Price"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <label>Standard Cost: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Standard Cost"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label>Quoted Cost: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Quoted Cost"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <label>Estimated Code: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Estimated Code"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label>Customer Price: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                placeholder="Customer Price"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <input
                          type="reset"
                          class="btn bg-light-secondary"
                          data-dismiss="modal"
                          value="Close"
                        />
                        <input
                          type="submit"
                          class="btn btn-primary"
                          value="Add Product"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endcomment %}
              <!-- Add Products Ends -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="float-left ml-3">
              <div class="row">
                <div class="col">
                  <label for="customer-filter" class="form-label font-weight-bold"
                    >Start Date</label
                  >
                  <input
                    type="date"
                    id="date-filter"
                    placeholder="Filter based on location"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <label for="date-filter" class="form-label font-weight-bold"
                    >End Date</label
                  >
                  <input
                    type="date"
                    id="date-filter"
                    placeholder="Filter based on Date"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <label for="in-transit-filter" class="form-label font-weight-bold"
                    >In transit</label
                  >
                  <input
                    type="text"
                    id="in-transit-filter"
                    placeholder="Filter based on In transit"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <label for="location-filter" class="form-label font-weight-bold"
                    >Planned Removal</label
                  >
                  <input
                    type="text"
                    id="location-filter"
                    placeholder="Filter based on Planned Removal"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <label for="location-filter" class="form-label font-weight-bold"
                    >Planned deliveries</label
                  >
                  <input
                    type="text"
                    id="location-filter"
                    placeholder="Filter based on Planned deliveries"
                    class="form-control"
                  />
                </div>
                <div class="col">
                  <label for="location-filter" class="form-label font-weight-bold"
                    >Usage of equipment</label
                  >
                  <input
                    type="text"
                    id="location-filter"
                    placeholder="Filter based on Usage of equipment"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                  <thead>
                    <tr>
                      <th>Internal ID</th>
                      <th>Name</th>
                      <th>Display Name</th>
                      <th>SubType</th>
                      <th>Description</th>
                      <th>Income Account</th>
                      <th>Expense/COGS Account</th>
                      <th>Tex Schedule</th>
                      <th>Class</th>
                      <th>Department</th>
                      <th>Date Created</th>
                      <th>Last Modified</th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Row 1 -->
                    <tr>
                      <td>17727</td>
                      <td>Rental: 12" X 45' Aluminum Mainline</td>
                      <td>Rental: 12" X 45' Aluminum Mainline</td>
                      <td>For Resale</td>
                      <td>Rental: 12" X 45' Aluminum Mainline</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 2 -->
                    <tr>
                      <td>17728</td>
                      <td>Rental: 12" Clamp</td>
                      <td>Rental: 12" Clamp</td>
                      <td>For Resale</td>
                      <td>Rental: 12" Clamp</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 3 -->
                    <tr>
                      <td>17729</td>
                      <td>Rental: 10" x 45' Aluminum Mainline</td>
                      <td>Rental: 10" x 45' Aluminum Mainline</td>
                      <td>For Resale</td>
                      <td>Rental: 10" x 45' Aluminum Mainline</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 4 -->
                    <tr>
                      <td>17750</td>
                      <td>Rental: 12" x 10" Reducer</td>
                      <td>Rental: 12" x 10" Reducer</td>
                      <td>For Resale</td>
                      <td>Rental: 12" x 10" Reducer</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 5 -->
                    <tr>
                      <td>17751</td>
                      <td>Rental: 10" x 12" Increaser</td>
                      <td>Rental: 10" x 12" Increaser</td>
                      <td>For Resale</td>
                      <td>Rental: 10" x 12" Increaser</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 6 -->
                    <tr>
                      <td>17752</td>
                      <td>Rental: 10" x 8" Reducer</td>
                      <td>Rental: 10" x 8" Reducer</td>
                      <td>For Resale</td>
                      <td>Rental: 10" x 8" Reducer</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 7 -->
                    <tr>
                      <td>17753</td>
                      <td>Rental: 10" Inline Tee</td>
                      <td>Rental: 10" Inline Tee</td>
                      <td>For Resale</td>
                      <td>Rental: 10" Inline Tee</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 8 -->
                    <tr>
                      <td>17754</td>
                      <td>Rental: 10" End Tee</td>
                      <td>Rental: 10" End Tee</td>
                      <td>For Resale</td>
                      <td>Rental: 10" End Tee</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 9 -->
                    <tr>
                      <td>17755</td>
                      <td>Rental: 10" Clamp</td>
                      <td>Rental: 10" Clamp</td>
                      <td>For Resale</td>
                      <td>Rental: 10" Clamp</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                    <!-- Row 10 -->
                    <tr>
                      <td>18436</td>
                      <td>Rental: 12" X 40' Aluminum Mainline</td>
                      <td>Rental: 12" X 40' Aluminum Mainline</td>
                      <td>For Resale</td>
                      <td>Rental: 12" X 40' Aluminum Mainline</td>
                      <td>Sales - Materials</td>
                      <td>COGS - Material</td>
                      <td>Taxable</td>
                      <td>Rental</td>
                      <td>Rental</td>
                      <td>22/01/2020</td>
                      <td>28/09/2022</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
    <script>
      // function to print the proposal based on provided ID attribute of tag
      function printContent(id) {
        var content = document.getElementById(id).innerHTML;
        var originalDocument = document.body.innerHTML;
        document.body.innerHTML = content;
        window.print();
        document.body.innerHTML = originalDocument;
      }
    </script>
    {% endcomment %}

    <!-- BEGIN PAGE LEVEL JS-->
    <!-- <script src="{% static 'app/js/data-tables/dt-data-sources.min.js' %}"></script> -->
    <!-- END PAGE LEVEL JS-->

    <script src="{% static 'app/js/ex-component-upload.min.js' %}"></script>
  </div>
</section>
