{% load static %}
<!-- Loader HTML -->
<div id="loader-container" style="display: none;">
    <div id="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p>Labour Cost Import...</p>
    </div>
</div>

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel5">
        Import Labour Cost
    </h4>
    <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
    >
        <span aria-hidden="true">
            <i class="ft-x font-medium-2 text-bold-700"></i>
        </span>
    </button>
</div>

<form id="importLabourCostForm" hx-post="{% url 'proposal_app:labour_cost:import-labour-cost' %}" hx-target="#modelLabourCost" hx-swap="#inlineForm" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="modal-body">
        <label>Upload File </label>
        <div class="form-group">
            <div class="custom-file">
                <input
                    type="file"
                    name="csv_file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    accept=".xlsx, .xls, .csv"
                    required
                    onchange="updateFileName(this)"
                />
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                {% if form.csv_file.errors %}
                    {% for error in form.csv_file.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <small class="form-text text-muted">{{ form.csv_file.help_text }}</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>

<script>
    function updateFileName(input) {
        var fileName = input.files[0] ? input.files[0].name : 'Choose file';
        var label = input.nextElementSibling;
        label.textContent = fileName;
    }

    document.body.addEventListener('htmx:beforeRequest', function(evt) {
        var $loader = $('#loader-container');
        $loader.show();
    });

    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        
        var $loader = $('#loader-container');

        if(evt.detail.xhr.status === 200){
            console.log("evt.detail.xhr.status", evt.detail.xhr.status)
            console.log("evt.detail.xhr.response", evt.detail.xhr.response)
            
            // Parse the JSON response
            var response = JSON.parse(evt.detail.xhr.response);
            
            // Check if response contains a success message
            if (response.status === 'success') {
                $loader.hide();
                evt.detail.shouldSwap = false;

                // Hide the modal
                $("#inlineForm").modal('hide');
                
                // Clear the modal body
                $("#inlineForm .modal-body").html('');
                
                // Reload the DataTable
                $("#labour-cost-table").DataTable().ajax.reload(null, false);
                
                // Display message
                toastr.success(response.message, 'Success', {
                    closeButton: true,
                    progressBar: true,
                    positionClass: 'toast-bottom-right',
                    timeOut: 6000
                });
            }
        }
    });
</script>