{% load static %}
<td class="user-action-buttons">

    {% if edit_url %}
        <a data-url="{{edit_url}}" hx-get="{{edit_url}}" data-toggle="modal" data-target="{{data_target}}" hx-swap="innerHTML" hx-target="{{hx_target}}" class="success mr-2 htmx-trigger-btn" title="Edit"> <i class="fa ft-edit font-medium-3 mr-2"></i></a>
    {% endif %}

    {% if delete_url %}
        <a href="javascript:;" data-title="{{title}}" data-url="{{delete_url}}" data-id="{{o.id}}" class="danger p-0 {{class}}" title="Delete"><i class="ft-trash-2 font-medium-3"></i></a>
    {% endif %}

</td>