<td>

    <div class="d-flex">

        <a href="{{edit_url}}" class="success"> <i class="fa ft-eye font-medium-3 mr-2"></i></a>

        <!-- TODO: Make Dynamic -->
        <a type="button" class="info p-0o" data-toggle="modal" data-target="#opportunity_documents" data-backdrop="false" style="all: unset">
            <i class="ft-file-text font-medium-3 ml-1"></i>
        </a>
        <!-- <a href="#" class="info p-0 user-delete-btn"><i class="ft-file-text font-medium-3 ml-1"></i></a> -->
    </div>

</td>