{% load static %}

<div class="d-flex justify-content-end">
  <button
    type="button"
    class="btn bg-light-secondary htmx-trigger-btn mb-2"
    hx-get="{% url 'proposal_app:opportunity:select-task-model' opportunity.document_number %}"
    hx-target="#selectTaskModal"
    hx-trigger="click"
    data-toggle="modal"
    data-target="#selectTaskModal"
  >
    <em class="ft-plus font-medium-5"></em> Add Tasks
  </button>
</div>

<!-- Select Task Modal Start -->
<div class="modal fade text-left" id="selectTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div id="modelSelectTask">
              <!-- Content loaded by htmx will appear here -->
          </div>
      </div>
  </div>
</div>
<!-- Select Task Modal End -->

<div class="table-responsive">
  <table id= "selected-task-table" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Internal ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
  </table>
</div>

<!-- Htmx -->
<script>
  $(document).on('click', '.htmx-trigger-btn' , function (e) {
    url = "{% url 'proposal_app:opportunity:select-task-model' opportunity.document_number %}"
    htmx.ajax('GET',
        url,
        {
          target:'#modelSelectTask',
          swap:'innerHTML',
    }).then(() => {
        $('#selectTaskModal').toggleClass('hidden');
    })
  })
</script>
<!-- Htmx -->

<!-- Datatabele -->
<script>
  var table_task = initializeDataTable();

  function initializeDataTable() {
      return $('#selected-task-table').DataTable({
          processing: true,
          serverSide: true,
          destroy: true,
          ajax: {
              url: "{% url 'proposal_app:opportunity:ajax-selected-task-list' opportunity.document_number %}",
              type: 'GET',
          },
          columns: [
          { data: 'task__internal_id', name: 'task__internal_id' },
          { data: 'task__name', name: 'task__name' },
          { data: 'task__description', name: 'task__description' },
          { data: 'action', name: 'action' },
        ],
        columnDefs: [
        {
            targets: 3,
            className: 'text-center w-80',
            orderable: false,
        }
      ],

      });
  }
</script>
<!-- Datatabele -->

<!-- Estimation dataTable -->
<script>
  var estimation_task_table = initializeDataTable();

  function initializeDataTable() {
      return $('#enstimate-table').DataTable({
          processing: true,
          serverSide: true,
          destroy: true,
          ajax: {
              url: "{% url 'proposal_app:opportunity:ajax-task-product-data' opportunity.document_number %}",
              type: 'GET',
          },
          columns: [
            { data : "code", name : "code"  },
            { data : "description", name : "description"  },
            { data : "labor_cost", name : "labor_cost"  },
            { data : "labor_gp_percent", name : "labor_gp_percent"  },
            { data : "labor_gp", name : "labor_gp"  },
            { data : "labor_sell", name : "labor_sell"  },
            { data : "mat_cost", name : "mat_cost"  },
            { data : "mat_gp_percent", name : "mat_gp_percent"  },
            { data : "mat_gp", name : "mat_gp"  },
            { data : "mat_plus_mu", name : "mat_plus_mu"  },
            { data : "sales_tax", name : "sales_tax"  },
            { data : "mat_sell", name : "mat_sell"  },
            { data : "mat_tax_labor", name : "mat_tax_labor"  },
            { data : "comb_gp", name : "comb_gp"  }
          ],
          rowCallback: function(row, data, index) {  
            if (data.code === "FRT") {
              $(row).find('td:eq(12), td:eq(13), td:eq(14)').remove();  
              $(row).find('td:eq(11)').attr('colspan', 3).css({
                  "text-align": "center",
                  "background-color": "#f0f0f0",
                  "font-weight": "bold"
              }).text(data.frt_total);
          }
          
            if (data.description && data.description.toLowerCase().includes('labor')) {
                $(row).addClass('selected-estimate-row');
            }
            $(row).find('td').each(function(cellIndex) {
              // Add class to the first cell (code) if the description contains 'labor'
              if (cellIndex === 0 && data.description && data.description.toLowerCase().includes('labor')) {
                  $(this).addClass('selected-estimate-row');
              }

              if (cellIndex === 2 && data.labor_cost >= 0) {
                  $(this).addClass('labor_cost');
              }

              if (cellIndex === 4 && data.labor_gp >= 0) {
                  $(this).addClass('labor_gp');
              }

              // Add class to the fourth cell (labor_sell) if labor_sell exists
              if (cellIndex === 5 && data.labor_sell >= 0) {
                  $(this).addClass('labor_sell');
              }

              // Add class to the fifth cell (mat_cost) if mat_cost exists
              if (cellIndex === 6 && data.mat_cost >= 0) {
                  $(this).addClass('mat_cost');
              }

              // Add class to the seventh cell (mat_gp) if mat_gp exists
              if (cellIndex === 8 && data.mat_gp >= 0) {
                  $(this).addClass('mat_gp');
              }

              // Add class to the seventh cell (mat_plus_mu) if mat_plus_mu exists
              if (cellIndex === 9 && data.mat_plus_mu >= 0) {
                $(this).addClass('mat_plus_mu');
              }

              // Add class to the eighth cell (sales_tax) if sales_tax exists
              if (cellIndex === 10 && data.sales_tax >= 0) {
                  $(this).addClass('sales_tax');
              }

              // Add class to the ninth cell (mat_sell) if mat_sell exists
              if (cellIndex === 11 && data.mat_sell >= 0) {
                  $(this).addClass('mat_sell');
              }

              // Add class to the tenth cell (mat_tax_labor) if mat_tax_labor exists
              if (cellIndex === 12 && data.mat_tax_labor >= 0) {
                  $(this).addClass('mat_tax_labor');
              }

              // Add class to the eleventh cell (comb_gp) if comb_gp exists
              if (cellIndex === 13 && data.comb_gp >= 0) {
                  $(this).addClass('comb_gp');
              }
          });
          },
          footerCallback: function(row, data, start, end, display) {
            var totalLaborCost = 0;
            var totalLaborGpPercent = 0;
            var totalLaborGp = 0;
            var totalLaborSell = 0;
            var totalMatCost = 0;
            var totalMatGpPercent = 0;
            var totalMatGp = 0;
            var totalMatPlusMu = 0;
            var totalSalesTax = 0;
            var totalMatSell = 0;
            var totalMatTaxLabor = 0;
            // var totalCombGp = 0;
            function formatNumberForDisplay(number) {
                return Number(number).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            }
            // Iterate through each row in the current page of the table
            data.forEach(function(rowData) {
                // Ensure that each value is a valid number before adding
                let laborCost = parseFloat(rowData.labor_cost.replace(/,/g, '')) || 0;
                totalLaborCost += laborCost;

                /*let laborGpPercent = parseFloat(rowData.labor_gp_percent) || 0;
                totalLaborGpPercent += laborGpPercent;  // Sum labor GP percent*/
                totalLaborGpPercent = rowData.labor_gp_percent_data

                let laborGp = parseFloat(rowData.labor_gp.replace(/,/g, '')) || 0;
                totalLaborGp += laborGp;

                let laborSell = parseFloat(rowData.labor_sell.replace(/,/g, '')) || 0;
                totalLaborSell += laborSell;

                let matCost = parseFloat(rowData.mat_cost.replace(/,/g, '')) || 0;
                totalMatCost += matCost;

                /*let matGpPercent = parseFloat(rowData.mat_gp_percent) || 0;
                totalMatGpPercent += matGpPercent;  // Sum mat GP percent*/
                totalMatGpPercent = rowData.mat_gp_percent_data

                let matGp = parseFloat(rowData.mat_gp.replace(/,/g, '')) || 0;
                totalMatGp += matGp;

                let matPlusMu = parseFloat(rowData.mat_plus_mu.replace(/,/g, '')) || 0;
                totalMatPlusMu += matPlusMu;

                let salesTax = parseFloat(rowData.sales_tax.replace(/,/g, '')) || 0;
                totalSalesTax += salesTax;

                let matSell = parseFloat(rowData.mat_sell.replace(/,/g, '')) || 0;
                totalMatSell += matSell;

                let matTaxLabor = parseFloat(rowData.mat_tax_labor.replace(/,/g, '')) || 0;
                totalMatTaxLabor += matTaxLabor;
                // totalCombGp += parseFloat(rowData.comb_gp) || 0;
            });

            // Update the footer cells with the calculated totals
            $('#total_labor_cost').text(`$ ${formatNumberForDisplay(totalLaborCost)}`);
            $('#total_labor_gp_percent').text(`${formatNumberForDisplay(totalLaborGpPercent)}%`);
            $('#total_labor_gp').text(`$ ${formatNumberForDisplay(totalLaborGp)}`);
            $('#total_labor_sell').text(`$ ${formatNumberForDisplay(totalLaborSell)}`);
            $('#total_mat_cost').text(`$ ${formatNumberForDisplay(totalMatCost)}`);
            $('#total_mat_gp_percent').text(`${formatNumberForDisplay(totalMatGpPercent)}%`);
            $('#total_mat_gp').text(`$ ${formatNumberForDisplay(totalMatGp)}`);
            $('#total_mat_mu').text(`$ ${formatNumberForDisplay(totalMatPlusMu)}`);
            $('#total_sales_tax').text(`$ ${formatNumberForDisplay(totalSalesTax)}`);
            $('#total_mat_sell').text(`$ ${formatNumberForDisplay(totalMatSell)}`);
            $('#total_mat_tax_labor').text(`$ ${formatNumberForDisplay(totalMatTaxLabor)}`);


            // $('#total-comb-gp').text(`$ ${totalCombGp.toFixed(2)}`);
          }
        });
    }
</script>

<!-- Go to Current Stage -->
<script>
  $(document).ready(function() {
    var foundElements = $(".steps li").find(".current a");

  });
</script>
<!-- Go to Current Stage -->

<!-- Update Stages -->
<script>
  $(document).ready(function() {

    var stageMapping = {
      1 : "Select Task Code",
      2 : "Upload CAD File",
      3 : "Material List",
      4 : "Task Mapping",
      5 : "Generate Estimate",
      6 : "Proposal Creation",
      7 : "Proposal Preview",
      8 : "Final Document"
    };

    $('.steps a').on('click', function(event) {
      event.preventDefault();
      var stepNumber = $(this).find('.step').text();
      var stageKey = stageMapping[stepNumber];
      var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?stage=" + stageKey;
      history.pushState({ path: newUrl }, '', newUrl);
    });

    $("a[href='#next']").on("click", function(e) {
      var foundElements = $(".steps li").find(".current");
      if (foundElements){
        value = $(".current a span.step").text();

        var stageKey = stageMapping[value];
        const url = new URL(window.location.href);

        url.searchParams.set('stage', stageKey);
        window.history.pushState({}, '', url);

        $.ajax({
          url: '{% url "proposal_app:opportunity:update-stages" %}',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            document_number: "{{opportunity.document_number}}",
            stage: `STAGE_${value}`,
          }),
          headers: {
              'X-CSRFToken': "{{ csrf_token }}",
          },
          success: function(response) {
              if (response.error) {
                // console.log("Error!!",response.error);
              } else {
                  // console.log("");
              }
          },
          error: function(xhr, status, error) {
              console.error('Error:', error);
          }
        });
      }
      else{
        // console.log("Not found elements:");
      }
    });

    $("a[href='#previous']").on("click", function(e) {
      // console.log("Previous Clicked");

      var foundElements = $(".steps li").find(".current");

      if (foundElements){
        value = $(".current a span.step").text();

        var stageKey = stageMapping[value];
        const url = new URL(window.location.href);

        url.searchParams.set('stage', stageKey);
        window.history.pushState({}, '', url);
      }
      else{
        // console.log("Not found elements:");
      }
    });
  });
</script>
<!-- Update Stages -->

<!-- Update description Ajax -->
<script>
  $(document).on("change", ".edi-description", function(e) {
      var field = $(this);
      var id = field.data('id');
      var task_id = field.data('task-id');
      var description = field.val();

      if (!id || !description) {
          toastr.error("Task code ID and description are required.", "Validation Error", {
              closeButton: true,
              progressBar: true,
              positionClass: "toast-bottom-right",
              timeOut: 4000
          });
          return;
      }

      $.ajax({
          url: "{% url 'proposal_app:opportunity:update-selected-task-ajax' %}",
          type: 'POST',
          data: {
              task_code_id: id,
              task_description: description,
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
              $(`.task_description[data-id=${task_id}]`).val(description); // Sync description value with Task Mapping screen.
              toastr.success(response.message || "Description updated successfully.", "Success", {
                  closeButton: true,
                  progressBar: true,
                  positionClass: 'toast-bottom-right',
                  timeOut: 6000
              });
          },
          error: function(xhr) {
              var message = xhr.responseJSON ? xhr.responseJSON.message : "An error occurred";
              toastr.error(message, "Error", {
                  closeButton: true,
                  progressBar: true,
                  positionClass: 'toast-bottom-right',
                  timeOut: 6000
              });
          }
      });
  });
</script>

<!-- Delete Task Ajax-->
<script>
	$(document).on('click', '.delete-task', function (e) {
		var id = $(this).data("id")
		var title = $(this).data("title")
		if (title == "None") {
			title = ""
		}
		var url = $(this).data("url")
		var delete_ele = $(this)

		Swal.fire({
			html: `Are you sure you want to delete <b>${title}</b>?`,
			icon: 'question',
			showCloseButton: true,
			showCancelButton: true,
			confirmButtonColor: "#7442DB",

		}).then((result) => {

			/* Read more about isConfirmed, isDenied below */
			if (result.isConfirmed) {
				$.ajax({
					type: "POST",
					url: url,
					data: {
						"id": id,
						"csrfmiddlewaretoken": '{{ csrf_token }}'
					},
					success: function (data) {

            if (data["code"] == "400"){
              toastr.error(data.message, 'Error', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });
            } else if (data["code"] == "200") {
              // window.location.reload();
              toastr.success(data.message, 'Success', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });

              $("#selected-task-table").DataTable().ajax.reload(null, false);
              estimation_task_table.ajax.reload(null, false);
              $('#tableContainer').html(data.html);

						}
					}
				});
			}else {
          Swal.fire("Cancel delete", "", "info");
      }
		})
	})
</script>
