{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div
  class="app-sidebar menu-fixed"
  data-background-color="white"
  data-image=""
  data-scroll-to-active="true"
>
  <!-- main menu header-->
  <!-- Sidebar Header starts-->
  <div class="sidebar-header">
    <div class="logo clearfix">
      <a class="logo-text mx-0">
        <div class="logo-img">
          <img
            style="height: 45px"
            src="{% static 'app/img/logos/logo.png' %}"
            alt="Laurel - AG & Water"
          />
        </div>
        <span class="text">Laurel</span>
      </a>
      <a
        class="nav-toggle d-none d-lg-none d-xl-block font-large-1 text-secondary pl-5"
        id="sidebarToggle"
        href="javascript:;"
      >
        <i
          class="toggle-icon ft-arrow-right-circle bg-white rounded-circle"
          data-toggle="expanded"
        ></i>
      </a>
      <a
        class="nav-close d-block d-lg-block d-xl-none"
        id="sidebarClose"
        href="javascript:;"
      >
        <i class="ft-x"></i>
      </a>
    </div>
  </div>
  <!-- Sidebar Header Ends-->
  <!-- / main menu header-->
  <!-- main menu content-->
  <div class="sidebar-content main-menu-content">
    <div class="nav-container">
      <ul
        class="navigation navigation-main"
        id="main-menu-navigation"
        data-menu="menu-navigation"
      >

        <!-- Dashboard Start -->
        {% comment %} <li
          class="nav-item {% if 'dashboard' in request.path %}active{% endif %}"
        >
          <a href="{% url 'proposal:dashboard' %}"
            ><i class="ft-home"></i
            ><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a
          >
        </li> {% endcomment %}
        <!-- Dashboard End -->

        <!-- Home Start -->
        <li class="nav-item {% if 'home' in request.path %}active{% endif %}">
          <a href="{% url 'rental:map_view' %}">
            <i class="ft-home"></i><span class="menu-title" data-i18n="Home">Home</span></a>
        </li>
        <!-- Home End -->

        <!-- Master Data Start -->
        <li class="has-sub nav-item"><a href="javascript:;"><i class="ft-database"></i><span class="menu-title" data-i18n="MasterData">Master Data</span></a>
          <ul class="menu-content">
            <li class="{% if 'warehouse_products' in request.path %}active{% endif %}"><a href="{% url 'rental:warehouse_products' %}"><i class="ft-list"></i><span class="menu-item">Products</span></a>
            </li>
            <li class="{% if 'warehouse_list' in request.path %}active{% endif %}"><a href="{% url 'rental:warehouse_list' %}"><i class="ft-archive"></i><span class="menu-item">Warehouse</span></a>
            </li>
          </li>
          <li class="{% if 'account_managers_list' in request.path %}active{% endif %}"><a href="{% url 'rental:account_managers_list' %}"><i class="icon-user-following"></i><span class="menu-item">Account Managers</span></a>
          </li>
            <li class="{% if 'customer_list' in request.path %}active{% endif %}"><a href="{% url 'rental:customers' %}"><i class="ft-users"></i><span class="menu-item">Customers</span></a>
            </li>
          </ul>
        </li>
        <!-- Master Data End -->

        <!-- Warehouse Start -->
        {% comment %} <li
          class="nav-item {% if 'warehouse_list' in request.path %}active{% endif %}"
        >
          <a href="{% url 'proposal:warehouse_list' %}"
            ><i class="ft-archive"></i
            ><span class="menu-title" data-i18n="Dashboard">Warehouse</span></a
          >
        </li> {% endcomment %}
        <!-- Warehouse End -->

        <!-- Customer List Start -->
        {% comment %} <li
          class="nav-item {% if 'customer' in request.path %}active{% endif %}"
        >
          <a href="{% url 'proposal:customer_list' %}"
            ><i class="ft-users"></i
            ><span class="menu-title" data-i18n="Dashboard">Customers</span></a
          >
        </li> {% endcomment %}
        <!-- Customer List End -->

        <!-- Warehouse list Start-->
        {% comment %} <li
          class="nav-item {% if 'warehouse_products' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:warehouse_products' %}"
            ><i class="ft-list"></i
            ><span class="menu-title" data-i18n="Dashboard">Products</span></a
          >
        </li> {% endcomment %}
        <!-- Warehouse list End -->

        <!-- Rent Process Start -->
        <li
          class="nav-item {% if 'order_list' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:order_list' %}"
            ><i class="ft-shopping-bag"></i
            ><span class="menu-title" >Rent Process</span></a
          >
        </li>
        <!-- Rent Process End -->

        <!-- Stock Adjustment Start -->
        <li
          class="nav-item {% if 'stock_adjustment' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:stock_adjustment' %}"
            ><i class="ft-sliders"></i
            ><span class="menu-title" data-i18n="Dashboard"
              >Stock Adjustment</span
            ></a
          >
        </li>
        <!-- Stock Adjustment End -->

        <!-- Reports Start -->
          <li class="nav-item {% if 'reports' in request.path %}active{% endif %}">
            <a href="{% url 'rental:reports' %}"><i class="ft-file-text"></i><span class="menu-title" data-i18n="Dashboard">Reports</span>
            </a>
          </li>
          <!-- Not Used -->
          <!-- <li class="has-sub nav-item"><a href="javascript:;"><i class="ft-file-text"></i><span class="menu-title" data-i18n="Reports">Reports</span></a>
            <ul class="menu-content">
              <li class="{% if 'reports' in request.path %}active{% endif %}"><a href="{% url 'rental:reports' %}"><span class="menu-item">All</span></a>
              </li>
              <li class="{% if 'revenue_report' in request.path %}active{% endif %}"><a href="{% url 'rental:revenue_report' %}"><span class="menu-item">Revenue Report</span></a>
              </li>
              <li class="{% if 'stock_report' in request.path %}active{% endif %}"><a href="{% url 'rental:stock_report' %}"><span class="menu-item">Stock Report</span></a>
              </li>
              <li class="{% if 'stock_movement_report' in request.path %}active{% endif %}"><a href="{% url 'rental:stock_movement_report' %}"><span class="menu-item">Stock Movement Report</span></a>
              </li>
              <li class="{% if 'in_transit_report' in request.path %}active{% endif %}"><a href="{% url 'rental:in_transit_report' %}"><span class="menu-item">In Transit</span></a>
              </li>
              <li class="{% if 'planned_removal_report' in request.path %}active{% endif %}"><a href="{% url 'rental:planned_removal_report' %}"><span class="menu-item">Planned Removal</span></a>
              </li>
              <li class="{% if 'planned_deliveries_report' in request.path %}active{% endif %}"><a href="{% url 'rental:planned_deliveries_report' %}"><span class="menu-item">Planned Deliveries</span></a>
              </li>
              <li class="{% if 'usages_of_equipment_report' in request.path %}active{% endif %}"><a href="{% url 'rental:usages_of_equipment_report' %}"><span class="menu-item">Usages Of Equipment</span></a>
              </li>
            </ul>
          </li> -->
          <!-- Not Used -->
        <!-- Reports End -->

        <!-- User start -->
        <li
          class="nav-item {% if 'user_list' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:user_list' %}"
            ><i class="ft-user"></i
            ><span class="menu-title" data-i18n="Dashboard">Authorizations</span></a
          >
        </li>
        <!-- User End -->

        <!-- Recurring order start -->
        {% comment %}
        <li
          class="nav-item {% if 'recurring_order' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:recurring_order' %}"
            ><i class="ft-rotate-cw"></i
            ><span class="menu-title" data-i18n="Dashboard"
              >Recurring Orders</span
            ></a
          >
        </li>
        {% endcomment %}
        <!-- Recurring order End -->

        <!-- Workflow Start -->
        <li
          class="nav-item {% if 'workflow' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:workflow' %}"
            ><i class="ft-wind"></i
            ><span class="menu-title" data-i18n="Dashboard">Workflow</span></a
          >
        </li>
        <!-- Workflow Start -->

        <!-- Express Deliver Start -->
        {% comment %}
        <li
          class="nav-item {% if 'express_delivery' in request.path %}active{% endif %}"
        >
          <a href="{% url 'rental:express_delivery' %}"
            ><i class="ft-truck"></i
            ><span class="menu-title" data-i18n="Dashboard"
              >Express Delivery</span
            ></a
          >
        </li>
        {% endcomment %}
        <!-- Express Deliver End -->

        <!-- Email inbox Start -->
        <li class="nav-item {% if 'inbox' in request.path %}active{% endif %}">
          <a href="{% url 'rental:inbox' %}"><i class="ft-mail"></i><span class="menu-title" data-i18n="Inbox">Inbox</span></a>
        </li>
        <!-- Email inbox End -->

      </ul>
    </div>
  </div>
  <!-- main menu content-->
  <div class="sidebar-background"></div>
  <!-- main menu footer-->
  <!-- include includes/menu-footer-->
  <!-- main menu footer-->
  <!-- / main menu-->
</div>
