<div class="row">
  <div class="col-1"><label>Assign To:</label></div>
  <div class="col-4">
    <select class="select2 form-control">
      <option value="">Select Member</option>
      <option value="1">Brian J. Trujillo</option>
      <option value="2">Lonnie D. Willie</option>
      <option value="3">Ella D. Bowman</option>
      <option value="4">David D. Williams</option>
    </select>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary mb-1">Save</button>
  </div>
</div>
