<div class="form-group">
  <div id="invoice-template" class="card-body pb-0">
    <div class="row">
      <div class="col-md-6 col-12 text-left">
        <p>
          <span class="text-muted">Date :</span>
          May 13, 2024
        </p>
        <p>
          <span class="text-muted">Job #</span>
          Existi
        </p>
        <p>
          <span class="text-muted">Job Name:</span> Existing Pump Relocation And
          New 10" Discharge
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table zero-configuration">
            <thead>
              <tr>
                <th>Product Number</th>
                <th>Product Name</th>
                <th class="text-right">Product Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <span class="font-weight-bold">401020</span>
                </th>
                <td>
                  <span>ELBOW S 40 X 90</span>
                  <div>
                    <textarea
                      style="width: 85%"
                      rows="4"
                      placeholder="Product Description"
                    ></textarea>
                  </div>
                </td>
                <td class="text-right">
                  <span>$145.32</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">2800-117500</span>
                </th>
                <td>
                  <span>Ball Valve Riser 3/4 FHTxMHT</span>
                  <div>
                    <textarea
                      style="width: 85%"
                      rows="4"
                      placeholder="Product Description"
                    ></textarea>
                  </div>
                </td>
                <td class="text-right">
                  <span>$742.02</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">SINGLE-C</span>
                </th>
                <td>
                  <span>Trench: Chain - One pipe in trench</span>
                  <div>
                    <textarea
                      style="width: 85%"
                      rows="4"
                      placeholder="Product Description"
                    ></textarea>
                  </div>
                </td>
                <td class="text-right">
                  <span>$471.07</span>
                </td>
              </tr>
              <tr>
                <td scope="row">FRT</td>
                <td>
                  <p>FRT : Frieght</p>
                </td>
                <td class="text-right">$250.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <th class="text-right">
                  <p>TOTAL ESTIMATE - ITEMS LISTED :</p>
                </th>
                <th class="text-right">$1608.41</th>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
