<div class="form-group">
  <div id="invoice-template" class="card-body pb-0">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <p class="font-weight-bold mr-1">Date:</p>
          <p>May 13, 2024</p>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <p class="font-weight-bold mr-1">Job:</p>
          <p>Existing</p>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <p class="font-weight-bold mr-1">Job Name:</p>
          <p>Existing Pump Relocation & New 10 Discharge</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table zero-configuration">
            <thead>
              <tr>
                <th>Task Code</th>
                <th>Task Description</th>
                <th>Include Products?</th>
                <th class="text-right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <span class="font-weight-bold">DR-001</span>
                </th>
                <td>
                  <span>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      value="Design, Material and Installation of Connection to Mainline"
                  /></span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table class="table table-striped table-bordered mb-0">
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table class="table table-striped table-bordered mb-0">
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <input placeholder="Task Description" class="form-control" />
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      checked
                      name="customCheck"
                      id="custom-check-1"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$9,936.32</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">EL-000</span>
                </th>
                <td>
                  <span>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      value="Design, Material and Installation of Connection to Mainline"
                  /></span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table class="table table-striped table-bordered mb-0">
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table class="table table-striped table-bordered mb-0">
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <input placeholder="Task Description" class="form-control" />
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$4,572.02</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">FI-000</span>
                </th>
                <td>
                  <span
                    ><input
                      type="text"
                      class="form-control"
                      id=""
                      value="Design, Material and Installation of Connection to Mainline"
                  /></span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table class="table table-striped table-bordered mb-0">
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table class="table table-striped table-bordered mb-0">
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <input placeholder="Task Description" class="form-control" />
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$15,295.07</span>
                </td>
              </tr>
              <tr>
                <td scope="row" class="font-weight-bold">FRT</td>
                <td>
                  <p class="font-weight-bold">FRT : Frieght</p>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">$500.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <th class="text-right">
                  <p>TOTAL ESTIMATE - ITEMS LISTED :</p>
                </th>
                <th></th>
                <th class="text-right">$30303.41</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
