<div class="form-group">
  <div id="invoice-template" class="card-body pb-0">
    <div class="row">
      <div class="col-md-6 col-12 text-left">
        <p><span class="text-muted">Date:</span> May 13, 2024</p>
        <p><span class="text-muted">Job:</span> Existing</p>
        <p>
          <span class="text-muted">Job Name:</span> Existing Pump Relocation
          &amp; New 10 Discharge
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table zero-configuration">
            <thead>
              <tr>
                <th>Category</th>
                <th>Category Description</th>
                <th>Include Products?</th>
                <th class="text-right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <span class="font-weight-bold">GLU010</span>
                </th>
                <td>
                  <span>Cement -719 Extra Heavy Gray, Quart</span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table
                          class="table table-striped table-bordered zero-configuration mb-0"
                        >
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table
                      class="table table-striped table-bordered zero-configuration mb-0"
                    >
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <input
                      placeholder="Category Description"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                      id="custom-check-1"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$7,145.32</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">GLU020</span>
                </th>
                <td>
                  <span>Cement - Primer Purple P70 Gal</span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table
                          class="table table-striped table-bordered zero-configuration mb-0"
                        >
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table
                      class="table table-striped table-bordered zero-configuration mb-0"
                    >
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <input
                      placeholder="Category Description"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                      id="custom-check-1"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$1,742.02</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">GLU030</span>
                </th>
                <td>
                  <span>Cement - Empty Can, Quart 1.75" Neck</span>
                  <div class="table-responsive">
                    <div style="margin-top: 3px; margin-bottom: 3px">
                      <div>
                        <button
                          type="button"
                          class="btn bg-light-primary"
                          data-toggle="modal"
                          data-target="#add_product"
                        >
                          <i class="fa ft-plus-circle mr-1"></i>Add Items
                        </button>
                      </div>

                      <div class="table-responsive" style="margin-top: 3px">
                        <table
                          class="table table-striped table-bordered zero-configuration mb-0"
                        >
                          <thead>
                            <tr>
                              <th class="text-center">Item Code</th>
                              <th class="text-center">Item Description</th>
                              <th class="text-center">Quantity</th>
                              <th class="text-center">Price</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-nowrap">
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Code"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Item Description"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Quantity"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id=""
                                  value=""
                                  placeholder="Price"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer m-0 p-0">
                        <button type="button" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </div>
                    <table
                      class="table table-striped table-bordered zero-configuration mb-0"
                    >
                      <thead>
                        <tr class="text-center">
                          <th>Item Code</th>
                          <th>Item Description</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2800-117465</td>
                          <td>Ball Repalcement</td>
                          <td>95</td>
                          <td>$0.8125</td>
                          <td>$59.124</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <input
                      placeholder="Category Description"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                      id="custom-check-1"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">
                  <span>$4,471.07</span>
                </td>
              </tr>
              <tr>
                <td scope="row">FRT</td>
                <td>
                  <p>FRT : Frieght</p>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="customCheck"
                      id="custom-check-1"
                    />
                    <label
                      class="custom-control-label"
                      for="custom-check-1"
                    ></label>
                  </div>
                </td>
                <td class="text-right">$500.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <th class="text-right">
                  <p>TOTAL ESTIMATE - ITEMS LISTED :</p>
                </th>
                <th></th>
                <th class="text-right">$13858.41</th>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
