<div class="table-responsive mt-3">
  <table id="document" class="table table-striped table-bordered">
    <thead>
      <tr class="text-center">
        <th style="width: 25% !important">Documents</th>
        <th style="width: 25% !important">Created at</th>
        <th>Comments</th>
      </tr>
    </thead>
  </table>
</div>

<script>
  targets = [];
  table_id = "#document";
  url = "{% url 'opportunity:ajax-document-list' opportunity.document_number %}";
  columns = [
      { data: 'document', name: 'document' },
      { data: 'created_at', name: 'created_at' },
      { data: 'comment', name: 'comment' },
  ];
</script>