<div class="form-group">
  <div class="row">
    <div class="col-12">
      <label for="file-upload" class="btn btn-secondary mt-3">
        <input id="file-upload" type="file" style="display: none" />
        Attach Documents
      </label>
      <br>
      <span id="file-name" class="ml-3"></span>
    </div>
    <div class="col-12">
      <textarea rows="5" class="form-control square" id="comment" placeholder="Add a comment" name="comment3"></textarea>
    </div>
    <button id="file-save" class="btn btn-outline-success ml-3">Save</button>
  </div>
</div>

<!-- Loader HTML -->
<div id="loader-container" style="display: none;">
  <div id="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>Document Upload...</p>
  </div>
</div>

<script>
  // Handle file selection
  $('#file-save').hide();

  $('#file-upload').on('change', function() {
    var fileInput = $('#file-upload')[0];
    var file = fileInput.files[0];
    var fileNameElement = $('#file-name');
    var file_save = $('#file-save');

    if (file) {
      fileNameElement.text(file.name);
      $('#file-save').show();
    } else {
      fileNameElement.text('No file selected');
      $('#file-save').hide();
    }
  });

  // Handle save button click
  $('#file-save').on('click', function(event) {
    event.preventDefault();

    var fileInput = $('#file-upload')[0];
    var file = fileInput.files[0];
    var document_number = "{{opportunity.document_number}}";
    var comment = $("#comment").val();

    if (file) {
      var formData = new FormData();
      formData.append('document', file);
      formData.append('document_number', document_number);
      formData.append('comment', comment);

      // Show loader
      $('#loader-container').show();

      $.ajax({
        url: '{% url "opportunity:upload-document" %}',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': "{{ csrf_token }}"
        },
        success: function(response) {
          console.log('Success:', response);
          window.location.reload();
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.error('Error:', textStatus, errorThrown);
        },
        complete: function() {
          // Hide loader
          $('#loader-container').hide();
        }
      });
    } else {
      console.error('No file selected');
    }
  });
</script>