<div class="form-group">
  <div class="table-responsive">
    <table class="table table-striped table-bordered zero-configuration">
      <thead>
        <tr>
          <th style="max-width: 100px">Irricad Imported Quantities</th>
          <th style="max-width: 100px">Glue & Additional Mat'l Quantities</th>
          <th style="max-width: 100px">
            Combined Quantities from both Imports
          </th>
          <th>Description</th>
          <th style="max-width: 150px">Item Number</th>
          <th style="max-width: 150px">Category</th>
          <th style="max-width: 100px">Bag/Bundle Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td></td>
          <td>2</td>
          <td>VENT-1"CAV X 2"COUP</td>
          <td>ASSM-0625</td>
          <td>ASSEMBLY</td>
          <td style="max-width: 100px">
            <input type="text" class="form-control" id="" value="0" />
          </td>
        </tr>

        <tr>
          <td>64</td>
          <td>11</td>
          <td>75</td>
          <td>Ball Valve Riser 3/4" FHTxMHT</td>
          <td>2800-117500</td>
          <td>FHO915</td>
          <td>4</td>
        </tr>
        <tr>
          <td></td>
          <td>2</td>
          <td>2</td>
          <td>Cement - Dauber for Pint Can (HOSE FITTINGS)</td>
          <td>4200-015000</td>
          <td>FHO</td>
          <td>2</td>
        </tr>
        <tr>
          <td></td>
          <td>2</td>
          <td>2</td>
          <td>CEMENT - RED HOT CLEAR, PINT (HOSE FITTINGS)</td>
          <td>4200-005000</td>
          <td>FHO</td>
          <td>2</td>
        </tr>
        <tr>
          <td>128</td>
          <td>22</td>
          <td>150</td>
          <td>FIGURE 8 062</td>
          <td>2800-118500</td>
          <td>FHO920</td>
          <td>0</td>
        </tr>
        <tr>
          <td>64</td>
          <td>11</td>
          <td>75</td>
          <td>MALE HOSE ADAP X 1/2"S(3/4"SP)</td>
          <td>2800-114000</td>
          <td>FHO905</td>
          <td>4</td>
        </tr>
        <tr>
          <td></td>
          <td>25</td>
          <td>25</td>
          <td>PERMA-LOC COUPLING 062</td>
          <td>2800-001000</td>
          <td>FHO005</td>
          <td>4</td>
        </tr>
        <tr>
          <td>64</td>
          <td>11</td>
          <td>75</td>
          <td>PERMA-LOC X SWIVEL-W TEE 062</td>
          <td>2800-006000</td>
          <td>FHO010</td>
          <td>4</td>
        </tr>
        <tr>
          <td>24000</td>
          <td></td>
          <td>24000</td>
          <td>UNIRAM .62/45 E.5336 COIL</td>
          <td>4400-458500</td>
          <td>HOS050</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>25</td>
          <td>25</td>
          <td>COUPLER BLACK 1/2"</td>
          <td>2800-116500</td>
          <td>FHO910</td>
          <td>1</td>
        </tr>
        <tr>
          <td></td>
          <td>3</td>
          <td>3</td>
          <td>CUT PIPE PVC S40 2" x 48"</td>
          <td>5400-031120</td>
          <td>PIP010</td>
          <td>3</td>
        </tr>
        <tr>
          <td>64</td>
          <td>36</td>
          <td>100</td>
          <td>FLEX RISER 1/2" X 48"</td>
          <td>6200-008000</td>
          <td>TUB030</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
