<div class="form-group">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="preliminary-material-list" style="width: 100%;">
      <thead>
        <tr>
          <th style="max-width: 100px">Irricad Imported Quantities</th>
          <th style="max-width: 100px">Glue & Additional Mat'l Quantities</th>
          <th style="max-width: 100px">
            Combined Quantities from both Imports
          </th>
          <th>Description</th>
          <th style="max-width: 150px">Item Number</th>
          <th style="max-width: 150px">Category</th>
          <th style="max-width: 100px">Bag/Bundle Quantity</th>
        </tr>
      </thead>
    </table>
  </div>
</div>


<!-- Datatabele Matrial list -->
<script>
  var table_task = initializeDataTable();

  function initializeDataTable() {
      return $('#preliminary-material-list').DataTable({
          processing: true,
          serverSide: true,
          destroy: true,
          ajax: {
              url: "{% url 'proposal_app:opportunity:preliminary-material-list-ajax' opportunity.document_number %}",
              type: 'GET',
          },
          columns: [
            { data: 'irricad_imported_quantities', name: 'irricad_imported_quantities' },
            { data: 'glue_and_additional_mat_Quantities', name: 'glue_and_additional_mat_Quantities' },
            { data: 'combined_quantities_from_both_import', name: 'combined_quantities_from_both_import' },
            { data: 'description', name: 'description' },
            { data: 'item_number', name: 'item_number' },
            { data: 'category', name: 'category' },
            { data: 'bag_bundle_quantity', name: 'bag_bundle_quantity' },
          ]
      });
  }
</script>
<!-- Datatabele Matrial list  -->