{% load static %}

<div class="form-group">
    <div id="invoice-template" class="card-body pb-0">
        <h2 class="mb-3">Preparation To Launch CheckLists</h2>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-1" />
            <label for="checkbox-1" class="ml-2">Identify relevant data sources aligned with project
                objectives, ensuring they meet quality standards and legal requirements.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-2" />
            <label for="checkbox-2"" class=" ml-2">Define precise data requirements essential for project
                success, considering both qualitative and quantitative aspects thoroughly.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-3" />
            <label for="checkbox-3"" class=" ml-2">Gather data from identified sources using suitable methods,
                ensuring data integrity and adherence to privacy regulations.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-4" />
            <label for="checkbox-4"" class=" ml-2">Validate data to ensure accuracy and completeness,
                documenting the process for transparency and reproducibility purposes.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-5" />
            <label for="checkbox-5"" class=" ml-2">Define clear project objectives and scope, outlining
                specific deliverables and success criteria comprehensively.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-6" />
            <label for="checkbox-6"" class=" ml-2">Develop a scalable system architecture to support data
                processing needs, considering future growth and technological advancements.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-7" />
            <label for="checkbox-7"" class=" ml-2">Present design plans to sales teams for feedback,
                incorporating their insights to enhance market fit and sales effectiveness.
                >
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-8" />
            <label for="checkbox-8"" class=" ml-2">Obtain formal approval from stakeholders, ensuring alignment
                with sales strategies and customer expectations.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-9" />
            <label for="checkbox-9"" class=" ml-2">Estimate resource requirements for the project, including
                time, budget, and personnel, while considering potential risks and
                uncertainties.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-10" />
            <label for="checkbox-10" class="ml-2">Calculate ROI and project feasibility, conducting thorough
                analyses to support decision-making and resource allocation.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-11" />
            <label for="checkbox-11" class="ml-2">Draft detailed project proposals with clear objectives,
                outlining the proposed solution's benefits and alignment with client needs.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-12" />
            <label for="checkbox-12" class="ml-2">Tailor proposals to address client-specific requirements,
                highlighting unique selling points and value propositions effectively.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-13" />
            <label for="checkbox-13" class="ml-2">Engage in collaborative negotiations with stakeholders,
                balancing competing interests and seeking mutually beneficial agreements.</label>
        </div>
        <div class="row mb-2 pl-2">
            <input type="checkbox" id="checkbox-14" />
            <label for="checkbox-14" class="ml-2">Develop an implementation plan with tasks and timelines,
                assigning responsibilities and establishing communication channels for
                coordination.</label>
        </div>
    </div>
</div>