<div class="form-group">
  <div id="invoice-template" class="card-body pb-0">
    <div class="row">
      <div class="col-md-6 col-12 text-left">
        <p>
          <span class="text-muted">Date :</span>
          May 13, 2024
        </p>
        <p>
          <span class="text-muted">Job #</span>
          Existi
        </p>
        <p>
          <span class="text-muted">Job Name:</span> Existing Pump Relocation And
          New 10" Discharge
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table zero-configuration">
            <thead>
              <tr>
                <th>Task Code</th>
                <th>Task Description</th>
                <th class="text-right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <span class="font-weight-bold">DR-001</span>
                </th>
                <td>
                  <span
                    >Design, Material and Installation of Connection to
                    Mainline</span
                  >
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      value=""
                      placeholder="Task Description"
                    />
                  </div>
                </td>
                <td class="text-right">
                  <span>$9,936.32</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">EL-000</span>
                </th>
                <td>
                  <span
                    >Design, Material and Installation of Electrical
                    Extension</span
                  >
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      value=""
                      placeholder="Task Description"
                    />
                  </div>
                </td>
                <td class="text-right">
                  <span>$4,572.02</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="font-weight-bold">FI-000</span>
                </th>
                <td>
                  <span
                    >Design, Material and Installation of Filter Station and
                    Well Discharge</span
                  >
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      value=""
                      placeholder="Task Description"
                    />
                  </div>
                </td>
                <td class="text-right">
                  <span>$15,295.07</span>
                </td>
              </tr>
              <tr>
                <td scope="row">FRT</td>
                <td>
                  <p>FRT : Frieght</p>
                </td>
                <td class="text-right">$500.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <th class="text-right">
                  <p>TOTAL ESTIMATE - ITEMS LISTED :</p>
                </th>
                <th class="text-right">$30303.41</th>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
