{% extends "base.html" %}
{% load static %}
{% block nav %}
  <style>
    .navbar .navbar-nav .nav-search .search-input .search-list.show {
      display: block;
      overflow: hidden;
      width: 98%;
      margin-left: 20px;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-light header-navbar navbar-fixed">
    <div class="container-fluid navbar-wrapper">
    <div class="navbar-header d-flex">
      <div class="navbar-toggle menu-toggle d-xl-none d-block float-left align-items-center justify-content-center"
          data-toggle="collapse">
          <i class="ft-menu font-medium-3"></i>
      </div>
      <ul class="navbar-nav">
          <li class="nav-item mr-2 d-none d-lg-block">
            <a class="nav-link apptogglefullscreen" id="navbar-fullscreen" href="javascript:;"><i
                class="ft-maximize font-medium-3"></i></a>
          </li>
          <li class="nav-item nav-search">
            <a class="nav-link nav-link-search" href="javascript:void(0)"><i class="ft-search font-medium-3"></i></a>
            <div class="search-input" id="search-input-container">
                <div class="search-input-icon">
                    <i class="ft-search font-medium-3"></i>
                </div>
                  <input name="q" id="search-input" class="input"  type="text" placeholder="Explore Laurel..." tabindex="0" />
                <div class="search-input-close">
                    <i class="ft-x font-medium-3"></i>
                </div>
                <ul id="search-list" class="search-list"></ul>
                <div id="autocomplete" class="autocomplete"></div>
            </div>
        </li>
        </ul>
    </div>
    <div class="navbar-container">
      <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="dropdown nav-item mr-1">
              <a class="nav-link dropdown-toggle user-dropdown d-flex align-items-center"
                id="drop-down-1" href="javascript:;" data-toggle="dropdown">
                  <div class="user d-md-flex d-none mr-2">
                      <span class="text-right">{{user.first_name|title}} {{user.last_name|title}}</span>
                  </div>
                  <span class="avatar bg-info mr-2">
                      <span class="avatar-content">{{user.first_name|upper|slice:":1"}}</span>
                  </span>
              </a>
              <div class="dropdown-menu text-left dropdown-menu-right m-0 pb-0" aria-labelledby="drop-down-1">

                  <a class="dropdown-item" href="{% url 'user:logout' %}">
                      <div class="d-flex align-items-center">
                          <i class="ft-power mr-2"></i>
                          <span>Logout</span>
                      </div>
                  </a>
              </div>
          </li>
          </ul>
          </div>
      </div>
    </div>
  </nav>
{% endblock nav %}
{% block page_content %}
{% include 'proposal/sidebar.html'%}
<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        {% include template_name %}
      <!-- Wizard Ends -->
    </div>
  </div>
  <!-- END : End Main Content-->
  {% include "footer.html" %}
  <!-- End : Footer--><!-- Scroll to top button -->
  <button class="btn btn-primary scroll-top" type="button">
    <i class="ft-arrow-up"></i>
  </button>
</div>
{% endblock page_content%}


{% block script %}
<script src="{% static 'app/js/proposal-form-wizard.min.js' %}"></script>
{% endblock script %}
