<fieldset>
  {% include "./upload_file.html" %}
  <div class="accordion" id="accordionExample1">
    <div>
      <div id="headingAccordion1" class="card-header border-bottom pb-3">
        <a
          data-toggle="collapse"
          href="#accordion1"
          aria-expanded="false"
          aria-controls="accordion1"
          class="card-title"
          >Material List</a
        >
      </div>
      <div
        id="accordion1"
        class="collapse"
        aria-labelledby="headingAccordion1"
        data-parent="#accordionExample1"
      >
        <div class="card-body">{% include "./material_list.html" %}</div>
      </div>
    </div>
    <div>
      <div id="headingAccordion3" class="card-header border-bottom pb-3">
        <a
          data-toggle="collapse"
          href="#accordion3"
          aria-expanded="false"
          aria-controls="accordion3"
          class="card-title collapsed"
          >Glue & Additional Material</a
        >
      </div>
      <div
        id="accordion3"
        class="collapse"
        aria-labelledby="headingAccordion3"
        data-parent="#accordionExample1"
      >
        <div class="card-body">{% include "./glue_material.html" %}</div>
      </div>
    </div>
    <div>
      <div id="headingAccordion4" class="card-header">
        <a
          data-toggle="collapse"
          href="#accordion4"
          aria-expanded="false"
          aria-controls="accordion4"
          class="card-title collapsed"
          >Final Material List</a
        >
      </div>
      <div
        id="accordion4"
        class="collapse"
        aria-labelledby="headingAccordion4"
        data-parent="#accordionExample1"
      >
        <div class="card-body pb-0">{% include "./final_material.html" %}</div>
      </div>
    </div>
  </div>
</fieldset>
