{% load static %}

<div class="d-flex justify-content-end">
  <button type="button" class="btn bg-light-primary mb-3 mt-2" data-backdrop="false" data-toggle="modal" data-target="#selectTaskCode">
  <em class="ft-plus font-medium-5"></em> Add Tasks 
  </button>
</div>

<div class="table-responsive">
  <table
    class="table table-striped table-bordered zero-configuration"
  >
    <thead>
        <tr>
            <th>Internal ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
      <!-- Row 1 -->
      <tr>
        <td>5</td>
        <td>AU-000</td>
        <td>Automation</td>
      </tr>
      <tr>
        <td>6</td>
        <td>AU-000 : AU-007</td>
        <td>Automation</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Labor Modal Start -->
<div
  class="modal fade text-left"
  id="selectTaskCode"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel5"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel5">Add Task</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><i class="ft-x font-medium-2 text-bold-700"></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <section id="multiple-select2">
          <div class="card">
            <div class="card-content">
            <div class="card-body">
                <div class="form-group">
                <label>Select tasks</label>
                <select class="select2 form-control" id="SelectDescription" multiple>
                  <option value="AU-000" data-description="Automation">AU-000</option>
                  <option value="AU-000:AU-001" data-description="Above Ground - Time & Materials">AU-000:AU-001</option>
                  <option value="AU-000:AU-002" data-description="Ag Supply">AU-000:AU-002</option>
                  <option value="AU-000:AU-003" data-description="Above Ground - Time & Materials">AU-000:AU-003</option>
                  <option value="AU-000:AU-004" data-description="Ag Supply">AU-000:AU-004</option>
                  <option value="AU-000:AU-005" data-description="Ag Supply">AU-000:AU-005</option>
                  <option value="AU-000:AU-006" data-description="Above Ground - Time & Materials">AU-000:AU-006</option>
                </select>
                </div>
            </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn bg-light-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          id="addProductRow"
          type="button"
          class="btn bg-light-primary"
          data-backdrop="false"
          data-toggle="modal"
          data-target="#addProduct"
          onclick="copyLaborRow()"
          data-dismiss="modal"
        >
          <em class="ft-plus font-medium-5"></em> Add
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Labor Modal End -->

{% block script %}
  <!-- Multi select js -->
  <script src="{% static 'vendors/js/select2.full.min.js' %}"></script>
  <script src="{% static 'app/js/select2.min.js' %}"></script>
  <!-- Multi select js -->

  <!-- Search with description -->
  <script>
    $(document).ready(function() {
      $('#SelectDescription').select2({
          width: '100%',
          matcher: function(params, data) {
              // If there are no search terms, return all options
              if ($.trim(params.term) === '') {
                  return data;
              }
              
              // Check if the option text or description contains the search term
              if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > -1 ||
                  $(data.element).data('description').toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
                  return data;
              }
              // Return `null` if the term does not match
              return null;
          }
      });
    });
  </script>
  <!-- Search with description -->
{% endblock script %}