{% extends "base.html" %} {% load static %} {% block page_content %}

<div class="row">
  <div class="col-12">
    <div class="content-header">Glue and Additional Material</div>
  </div>
</div>

<!-- Wizard Starts -->
<section id="configuration">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p></p>
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered zero-configuration"
              >
                <thead>
                  <tr>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Item Number</th>
                    <th>Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Cement -711 Heavy Gray, Gallon</td>
                    <td>4200-001600</td>
                    <td>#N/A</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Cement -719 Extra Heavy Gray, Quart</td>
                    <td>4200-002500</td>
                    <td>GLU010</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Cement - Primer Purple P70 Gal</td>
                    <td>4200-007500</td>
                    <td>GLU020</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>CEMENT - RED HOT CLEAR, PINT</td>
                    <td>4200-005000</td>
                    <td>GLU010</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>CEMENT - RED HOT CLEAR, PINT (HOSE FITTINGS)</td>
                    <td>4200-005000</td>
                    <td>FHO</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Cement - Empty Can, Quart 1.75" Neck</td>
                    <td>4200-013000</td>
                    <td>GLU040</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Cement - Empty Can, Pint 1.75" Neck</td>
                    <td>4200-013500</td>
                    <td>GLU040</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>Cement - Dauber for Quart Can</td>
                    <td>4200-014500</td>
                    <td>GLU040</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Cement - Dauber for Pint Can</td>
                    <td>4200-015000</td>
                    <td>GLU040</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Cement - Dauber for Pint Can (HOSE FITTINGS)</td>
                    <td>4200-015000</td>
                    <td>FHO</td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td>COUPLER BLACK 1/2"</td>
                    <td>2800-116500</td>
                    <td>FHO910</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>COUPLER S40 2"</td>
                    <td>429020</td>
                    <td>FMP429</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>PERMA-LOC X SWIVEL-W TEE 062</td>
                    <td>2800-006000</td>
                    <td>FHO010</td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td>PERMA-LOC COUPLING 062</td>
                    <td>2800-001000</td>
                    <td>FHO005</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Ball Valve, Riser 3/4" FHTxMHT</td>
                    <td>2800-117500</td>
                    <td>FHO915</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>MALE HOSE ADAP X 1/2"S(3/4"SP)</td>
                    <td>2800-114000</td>
                    <td>FHO905</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>FIGURE 8 062</td>
                    <td>2800-118500</td>
                    <td>FHO920</td>
                  </tr>
                  <tr>
                    <td>36</td>
                    <td>FLEX RISER 1/2" X 48"</td>
                    <td>6200-008000</td>
                    <td>TUB030</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>SADDLE 1/2" X 2"</td>
                    <td>2800-105000</td>
                    <td>FHO900</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>CUT PIPE PVC S40 2" x 48"</td>
                    <td>5400-031120</td>
                    <td>PIP010</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>SURVEY FLAGS GLO ORA 21" WIRE</td>
                    <td>3600-004500</td>
                    <td>FSO020</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <div class="row">
              <div class="col-12">
                <div class="float-right">
                  <a
                    href="{% url 'proposal:material_list' %}"
                    role="menuitem"
                    class="btn btn-primary btn-secondary"
                    >Previous</a
                  >
                  <a
                    href="{% url 'proposal:final_ready_material_list' %}"
                    role="menuitem"
                    class="btn btn-primary"
                    >Next</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'app/js/ex-component-upload.min.js' %}"></script>

{% endblock page_content%}
