<div class="card-content">
  <div class="card-body">
    <div class="sub-icons-tab-steps">
      <div class="row">
        <h6>Pre-Data Acquisition</h6>
        <fieldset>{% include "./common_one_to_four.html" %}</fieldset>
      </div>

      <div class="row">
        <h6>Data Acquisition</h6>
        <fieldset>{% include "./common_one_to_four.html" %}</fieldset>
      </div>
      <div class="row">
        <h6>Design</h6>
        <fieldset>{% include "./common_one_to_four.html" %}</fieldset>
      </div>
      <div class="row">
        <h6>Design Review - Sales</h6>
        <fieldset>{% include "./common_one_to_four.html" %}</fieldset>
      </div>
      <div class="row">
        <h6>Estimation</h6>
        <fieldset>{% include "./tasks.html" %}</fieldset>
      </div>
      <div class="row">
        <h6>Proposal Prep</h6>
        <fieldset>{% include 'app/estimate_generate.html' %}</fieldset>
      </div>
      <div class="row">
        <h6>Negotiation Review</h6>
        <fieldset>{% include "./estimate.html" %}</fieldset>
      </div>
      <div class="row">
        <h6>Prep to Launch</h6>
        <fieldset>{% include './proposel_creation.html' %}</fieldset>
      </div>
    </div>
  </div>
</div>
