<div class="form-group">
  <div class="row">
    <div class="col-12">
      <div action="#" class="dropzone dropzone-area" style="min-height: 300px;border: 2px dashed #975aff;background: #f7f7f8;" id="dpz-single-file"></div>
    </div>
  </div>

  <div class="col-12 my-2">
    <button class="btn btn-primary" id="upload-btn">Upload</button>
    </label>
  </div>
</div>


{% block script %}
<script>

  Dropzone.autoDiscover = false;

  var myDropzone = new Dropzone("#dpz-single-file", {
    url: "{% url 'proposal_app:opportunity:upload-cad-file' %}", // URL to which files are sent
    paramName: "file",       // The name that will be used to transfer the file
    maxFiles: 1,             // Limit the number of files
    acceptedFiles: ".Tmp",   // Restrict file types
    autoProcessQueue: false, // Disable automatic file upload
    addRemoveLinks: true,    // Add links to remove files
    dictDefaultMessage: "Drag an .Tmp file here to upload", // Dropzone default message
    headers: {
      'X-CSRFToken': "{{ csrf_token }}"
    }
  });

  $('#upload-btn').click(function(e) {
    e.preventDefault();

    if (myDropzone.getQueuedFiles().length === 0) {
        toastr.error("Please select a file to upload", 'Error', {
          closeButton: true,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          timeOut: 6000
        })
      return;
    }

    myDropzone.processQueue();
  });

  myDropzone.on("sending", function(file, xhr, formData) {
    var documentNumber = "{{ opportunity.document_number }}"
    formData.append("document_number", documentNumber);
  });

  myDropzone.on("success", function(file, response) {
    $("#material-list").DataTable().ajax.reload(null, false);
    toastr.success(response.message, 'Success', {
      closeButton: true,
      progressBar: true,
      positionClass: 'toast-bottom-right',
      timeOut: 6000
    })
  });

  myDropzone.on("error", function(file, response) {
    // Handle error
    alert(response.error);
  });
</script>
{% endblock script %}