{% load static %}
{% load static %}
<style>
  .sort-options {
    display: block;
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    height: 380px;
    overflow: auto;
    position: absolute;
    border-radius: 8px;
}

.sort-options button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff616d89 !important;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.sort-options button:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.sort-select {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.column-name {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.search-label {
    margin-top: 10px;
    font-weight: bold;
}
</style>
<div class="row">
  <div class="col-12">
    <div class="content-header">Opportunity List</div>
  </div>
</div>

<!-- Wizard Starts -->
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title"></h4>
          <div class="float-right">
            <button
              type="button"
              class="btn bg-light-secondary"
              hx-get="{% url 'opportunity:import-opportunity' %}"
              hx-target="#modelOpportunity"
              hx-trigger="click"
              data-toggle="modal"
              data-target="#inlineForm"
            >
              <i class="fa ft-briefcase mr-1"></i>Import Opportunity
          </button>

            <!-- Modal -->
            <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true" data-backdrop="false">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div id="modelOpportunity">
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered" id="opportunity-list">
                  <thead>
                    <tr>
                      <th>Document Number</th>
                      <th>Designer</th>
                      <th>Estimator</th>
                      <th>Pump & Electrical<br>desiner</th>
                      <th>Design/Esimation<br>Notes</th>
                      <th>Estimation Stage</th>
                      <th>Last Updated Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Document Modal -->
    <div
      class="modal fade text-left"
      id="opportunity_documents"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel33"
      aria-hidden="true"
      data-backdrop="false"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel5">
              Opportunity Documents
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"
                ><i class="ft-x font-medium-2 text-bold-700"></i
              ></span>
            </button>
          </div>
          <form action="#">
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th style="max-width: 100px">Document</th>
                      <th>Stage</th>
                      <th>Created At</th>
                      <th style="max-width: 150px">Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a
                          href="#"
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>File1</span>
                          <div style="margin-top: 2px; margin-left: 5px">
                            <i class="icon-cloud-download"></i>
                          </div>
                        </a>
                      </td>
                      <td>
                        <span class="badge bg-light-warning">Labor List</span>
                      </td>
                      <td>
                        <div
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>20-05-2024</span>
                        </div>
                      </td>
                      <td>
                        Farming pumps and pipes ar...
                        <a
                          class="text-primary"
                          data-toggle="modal"
                          data-target="#inlineCommentModel"
                          >Read More</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="#"
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>File2</span>
                          <div style="margin-top: 2px; margin-left: 5px">
                            <i class="icon-cloud-download"></i>
                          </div>
                        </a>
                      </td>
                      <td>
                        <span class="badge bg-light-info">Task Mapping</span>
                      </td>
                      <td>
                        <div
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>22-05-2024</span>
                        </div>
                      </td>
                      <td>
                        Farming pumps and pipes ar...
                        <a
                          class="text-primary"
                          data-toggle="modal"
                          data-target="#inlineCommentModel"
                          >Read More</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="#"
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>File3</span>
                          <div style="margin-top: 2px; margin-left: 5px">
                            <i class="icon-cloud-download"></i>
                          </div>
                        </a>
                      </td>
                      <td>
                        <span class="badge bg-light-danger">Material List</span>
                      </td>
                      <td>
                        <div
                          class="d-flex"
                          style="font-size: 16px; justify-content: center"
                        >
                          <span>24-05-2024</span>
                        </div>
                      </td>
                      <td>
                        Farming pumps and pipes ar...
                        <a
                          class="text-primary"
                          data-toggle="modal"
                          data-target="#inlineCommentModel"
                          >Read More</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary mr-2"
                data-dismiss="modal"
              >
                <i class="ft-check-square mr-1"></i>OK
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/js/datatable/jquery.dataTables.min.js' %}"></script>

<script>
  $(document).ready(function() {
    var table = initializeDataTable({}, [], false);
    var currentFilters = {}; // Store current filters

    function initializeDataTable(filters = {}, order = [], ordering = true) {
        return $('#opportunity-list').DataTable({
            processing: true,
            serverSide: true,
            destroy: true,
            ajax: {
                url: "{% url 'opportunity:opportunity-list-ajax' %}",
                type: 'GET',
                data: function(d) {
                    d.filters = JSON.stringify(filters);
                    d.order_values = JSON.stringify(order);
                }
            },
            columns: [
                { data: 'document_number', name: 'document_number' },
                { data: 'designer', name: 'designer' },
                { data: 'estimator', name: 'estimator' },
                { data: 'pump_electrical_designer', name: 'pump_electrical_designer' },
                { data: 'design_estimation_note', name: 'design_estimation_note' },
                { data: 'estimation_stage', name: 'estimation_stage' },
                { data: 'updated_at', name: 'updated_at' },
                { data: 'actions', name: 'actions', orderable: false, searchable: false }
            ],
            order: order,
            ordering: ordering
        });
    }

    $('#opportunity-list thead th').on('click', function() {
        var columnIndex = $(this).index();
        var columnNames = [
            'document_number',
            'designer',
            'estimator',
            'pump_electrical_designer',
            'design_estimation_note',
            'estimation_stage',
            'updated_at',
            'actions'
        ];

        var columnName = columnNames[columnIndex];

        // Exclude filter options for specific columns
        var excludedColumns = ['updated_at', 'actions'];
        if (excludedColumns.includes(columnName)) {
            return; // Do nothing if the column is excluded
        }

        var sortOptionsDiv = $('.sort-options');
        sortOptionsDiv.remove();

        sortOptionsDiv = createSortOptions(columnIndex);
        sortOptionsDiv.show();

        $('#opportunity-list thead th').removeClass('active');
        $(this).addClass('active');

        sortOptionsDiv.find('.column-name').text($(this).text().trim());

        var baseUrl = "{% url 'opportunity:opportunity-filter' 'Column' %}";
        var url = baseUrl.replace('Column', encodeURIComponent(columnName));

        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                var select = sortOptionsDiv.find('#filter-options');
                select.empty();

                $.each(data.options, function(index, option) {
                    select.append(new Option(option, option));
                });

                select.select2({
                    width: '100%',
                    matcher: function(params, data) {
                        if ($.trim(params.term) === '') {
                            return data;
                        }
                        if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
                            return data;
                        }
                        return null;
                    }
                });

                if (currentFilters.column === columnIndex) {
                    select.val(currentFilters.values).trigger('change');
                    $('#filter-type').val(currentFilters.filter_type);
                    $('#filter-value').val(currentFilters.filter_value);
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error: ', status, error);
            }
        });
    });

    $(document).on('click', '.sort-option', function() {
        var orderDir = $(this).data('order');
        var columnIndex = $('#opportunity-list thead th.active').index();
        var order = [[columnIndex, orderDir]];
        var filters = getCurrentFilters();
        table.destroy();
        table = initializeDataTable(filters, order, false);

        $('.sort-options').css('display', 'none');
    });

    $(document).on('click', '#apply-filters', function() {
        var selectedOptions = $('#filter-options').val();
        var filter_type = $('#filter-type').val();
        var filter_value = $('#filter-value').val();

        console.log('selectedOptions: ', selectedOptions);
        var activeColumnIndex = $('#opportunity-list thead th.active').index();
        var order_values = [];
        var filters = {
            column: activeColumnIndex,
            values: selectedOptions,
            filter_type: filter_type,
            filter_value: filter_value
        };

        currentFilters = filters;

        table.destroy();
        table = initializeDataTable(filters, order_values, false);
        $('.sort-options').css('display', 'none');
    });

    function createSortOptions(column) {
        var columnHeader = $('#opportunity-list thead th').eq(column);
        var offset = columnHeader.offset();

        var sortOptionsDiv = $('<div class="sort-options"></div>');
        sortOptionsDiv.css({
            top: offset.top + columnHeader.outerHeight(),
            left: offset.left,
            position: 'absolute'
        });

        sortOptionsDiv.html(`
            <label><b>Sort</b></label>
            <div class="row">
                <div class="col-6">
                    <button class="sort-option" data-order="asc">A-Z</button>
                </div>
                <div class="col-6">
                    <button class="sort-option" data-order="desc">Z-A</button>
                </div>
            </div>
            <label><b>Search</b></label>
            <select id="filter-options" class="sort-select select2" multiple></select>
            <label><b>Actions</b></label>
            <select id="filter-type" class="sort-select form-control">
                <option value="">Select Options</option>
                <option value="equals">Equals</option>
                <option value="not_equals">Does Not Equal</option>
                <option value="begins_with">Begins With</option>
                <option value="not_begins_with">Does Not Begin With</option>
                <option value="ends_with">Ends With</option>
                <option value="not_ends_with">Does Not End With</option>
                <option value="contains">Contains</option>
                <option value="not_contains">Does Not Contain</option>
            </select>
            <input type="text" id="filter-value" class="sort-input form-control mt-3" placeholder="Enter value">
            <button id="apply-filters" class="btn bg-light-secondary mt-3">OK</button>
        `);

        $('body').append(sortOptionsDiv);

        $('#filter-options').select2({
            width: '100%',
            matcher: function(params, data) {
                if ($.trim(params.term) === '') {
                    return data;
                }
                if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
                    return data;
                }
                return null;
            }
        });

        return sortOptionsDiv;
    }

    function getCurrentOrder() {
        var order = $('#opportunity-list').DataTable().order();
        return order.length > 0 ? order[0] : [];
    }

    function getCurrentFilters() {
        var filters = $('#opportunity-list').DataTable().ajax.params().filters;
        return filters ? JSON.parse(filters) : {};
    }
});
</script>