<div class="row">
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-primary">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
              <i class="ft-box font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">278</h3>
              <span>No of Products</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-danger">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
              <i class="ft-calendar font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">15/05/2024</h3>
              <span>Expected Delivery Date</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-success">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
              <i class="ft-truck font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">Truck</h3>
              <span>Delivery Medium</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
              <i class="ft-map-pin font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">Los Angeles</h3>
              <span>Location</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
