{% load static %}

<div class="form-group">
  <div id="proposal">
    <div id="invoice-template" class="card-body pb-0">
      <!-- Invoice Company Details starts -->
      <div id="invoice-company-details" class="row" style="margin-bottom: 35px">
        <div class="col-md-6 col-12">
          <img src="{% static 'app/img/logos/logo.png' %}" alt="" class="img-fluid" width="100" height="100">
        </div>
        <div class="col-md-6 col-12 text-right">
          <h2 class="primary text-uppercase"></h2>
          <p class="pb-3">
            <label class="font-weight-bold form-label" style="">Invoice:</label>
            <input type="text" value="{{ invoice.invoice_number }}" data-id={{ invoice.id }} class="form-control invoice_number" style="width: 200px; float: right;">
          </p>
        </div>
      </div>
      <!-- Invoice Company Details ends -->

      <!-- Invoice Customer Details starts -->
      <div id="invoice-customer-details" class="row">
        <div class="col-12 text-left">
          <p class="mb-1 font-weight-bold">Select Customer</p>
        </div>
        <div class="col-md-2 col-2">
          <select id="original-customer-name" data-document={{opportunity.document_number}} class="customer-select">
              <option selected disabled>{{ opportunity.customer.name }}</option>
          </select>
          <span id="print-customer-name" style="display:none">
            {{ opportunity.customer.name }}
          </span>
        </div>
        <div class="col-md-4 col-4">
        </div>
        <div class="col-md-6 col-12 text-right">
          <p>
            <label class="font-weight-bold form-label">Date:</label>
            <input type="date" value="{{ invoice.invoice_data|date:"Y-m-d" }}" data-id="{{ invoice.id }}" class="form-control invoice_date" style="width: 200px; float: right;">
          </p>
          <p>
            <label class="font-weight-bold form-label">Job:</label>
            <input type="text" value="{{ opportunity.job }}" data-id="{{ opportunity.id }}" data-document="{{ opportunity.document_number }}" class="form-control job" style="width: 200px; float: right;">
          </p>
          <p>
            <label class="font-weight-bold form-label">Job Name:</label>
            {% if opportunity.job_name %}
              <input type="text" value="{{ opportunity.job_name }}" data-id="{{ opportunity.id }}"
                data-document="{{ opportunity.document_number }}" class="form-control job_name" style="width: 400px; float: right;">
            {% else %}
              <input type="text" value="" data-id="{{ opportunity.id }}"
                data-document="{{ opportunity.document_number }}" class="form-control job_name" placeholder="Enter Job Name" style="width: 400px; float: right;">
            {% endif %}

          </p>
        </div>
      </div>
      <!-- Invoice Customer Details ends -->

      <!-- Invoice Items Details starts -->
      <div id="invoice-items-details">
        <div class="row">
          <div class="table-responsive col-12">
            <table class="table table-bordered mt-3">
              <thead>
                <th>Group Name</th>
                <th class="text-center">Task Summary</th>
              </thead>
              <tbody>
                {% load custom_filters %}
                {% for grp_name, data in grouped_proposals.items %}
                  <tr>
                    <th scope="row">
                      <input type="text" class="form-control grp_name" data-document="{{opportunity.document_number}}" data-id="{{data.proposal_ids}}" value="{{ grp_name }}">
                    </th>
                    <td>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Task Code</th>
                            <th>Task Description</th>
                            <th class="text-right">Total</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for task, products in data.assigned_products.items %}
                            <tr>

                              <th scope="row">
                                  <input type="text" data-id="{{ task.id }}" class="form-control task_code" value="{{task.code}}">
                              </th>
                              <td>
                                <p>
                                  <input type="text" data-id="{{ task.id }}" class="form-control task_description" value="{{ task.description }}">
                                </p>
                                {% if task.include %}
                                  <div class="table-responsive">
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr class="text-center">
                                          <th>Item Code</th>
                                          <th>Item Description</th>
                                          <th>Quantity</th>
                                          <th>Price</th>
                                          <th>Total</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for p in products %}
                                            <tr class="tr-{{task.id}}">
                                              <td>
                                                {% if p.item_code %}
                                                  <input type="text" data-id="{{p.id}}" class="form-control prod_item_code" value="{{ p.item_code }}"/>
                                                {% else %}
                                                  <input type="text" data-id="{{p.id}}" class="form-control prod_labor_task" value="{{ p.labor_task }}"/>
                                                {% endif %}
                                              </td>
                                              <td>
                                                <input type="text" data-id="{{p.id}}" class="form-control prod_description" value="{{ p.description }}"/>
                                              </td>
                                              <td>
                                                <input type="text" data-id="{{p.id}}" data-task-id={{task.id}} class="form-control prod_quantity" value="{{ p.quantity }}"/>
                                              </td>
                                              <td>
                                                {% if p.standard_cost %}
                                                  <input type="text" data-id="{{p.id}}" data-task-id={{task.id}} class="form-control prod_cost" value="${{ p.standard_cost }}"/>
                                                {% else %}
                                                  <input type="text" data-id="{{p.id}}" data-task-id={{task.id}} class="form-control prod_local_cost" value="${{ p.local_cost }}"/>
                                                {% endif %}
                                              </td>
                                              <td>
                                                {% if p.standard_cost %}
                                                  <input  type="text" data-id="{{p.id}}" class="form-control prod_total" value="${{ p.standard_cost|multiply:p.quantity|round_value:2 }}" disabled>
                                                {% else %}
                                                  <input  type="text" data-id="{{p.id}}" class="form-control prod_total" value="${{ p.local_cost|multiply:p.quantity|round_value:2 }}" disabled>
                                                {% endif %}
                                              </td>
                                            </tr>
                                          {% endfor %}
                                      </tbody>
                                    </table>
                                  </div>
                                {% endif %}

                                {% for description in task.extra_description %}
                                    {% for key, value in description.items %}
                                      <p class="text-muted">
                                        <input type="text"
                                          class="form-control"
                                          value="{{ value }}"
                                          placeholder="write description"
                                          disabled>
                                      </p>
                                    {% endfor %}
                                {% endfor %}
                              </td>
                              <td class="text-right">
                                <input type="text" class="form-control task_total_price_{{task.id}}" value="${{ data.task_totals|get_item:task|round_value:2 }}" disabled>
                              </td>
                              <td>
                                {% if task.task.name %}
                                <button type="button"
                                        class="btn btn-danger delete-task-btn icon"
                                        data-id="{{ data.proposal_ids|get_proposal_id:forloop.counter0 }}"
                                        data-title="{{task.code}}"
                                        data-type="proposal"
                                        data-url="{% url 'proposal_app:opportunity:task-delete-ajax' %}">
                                    <em class="fa fa-trash"></em>
                                </button>

                                {% else %}
                                  <button type="button" class="btn btn-danger delete-task-btn icon" data-id="{{ data.proposal_ids|get_proposal_id:forloop.counter0 }}" data-title="{{task.code}}" data-type="proposal" data-url="{% url 'proposal_app:opportunity:task-delete-ajax' %}"><em class="fa fa-trash"></em></button>

                                {% endif %}
                              </td>

                            </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                    </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>

            <table class="table mt-2">
              <p class="font-weight-bold">Options</p>
              <tbody>
                <tr>
                  <th scope="row">Approve & Initial</th>
                  <th>Task</th>
                  <th>Task Description</th>
                  <th class="text-right">Totals</th>
                </tr>

                {% for grp_name, data in grouped_proposals.items %}
                  {% for task, products in data.assigned_products.items %}
                    <tr>
                      <td scope="row">
                        {% if task.approve %}
                          <input type="text" data-id="{{ task.id }}" class="form-control approve" value="{{ task.approve }}" />
                        {% else %}
                          <input type="text" data-id="{{ task.id }}" class="form-control approve" value="Yes / No" />
                        {% endif %}

                      </td>
                      <td>
                        <input type="text" class="form-control" value="{{task.code}}" disabled>
                      </td>
                      <td>
                        <input type="text" class="form-control" value="{{ task.description }}" disabled>
                      </td>
                      <td class="text-right">
                        <input type="text" class="form-control totals task_total_price_{{task.id}}" value="${{ data.task_totals|get_item:task|round_value:2 }}" disabled>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}

                <tr>
                  <th scope="row"></th>
                  <th scope="row"></th>
                  <th class="text-right">
                    <p>TOTAL OPTIONS - ITEMS LISTED :</p>
                  </th>
                  <th class="text-right">
                    <input type="text" class="form-control main_total" value="${{ proposal_total.grand_total_price }}" disabled>
                  </th>
                </tr>
              </tbody>
            </table>

            <div id="opportunity-term-and-condition">
              {% include "proposal/opportunity/stage/proposal_preview/opportunity_term_and_condition.html" %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% block script %}

<!-- Customer search and Update -->
<script>
  $(document).ready(function() {

    // Search
    $('.customer-select').select2({
        placeholder: 'Select customer',
        width: "100%",
        ajax: {
            url: '{% url "proposal_app:opportunity:customer-search" %}',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: data.results
                };
            },
            cache: true
        }
    });

    // Update Customer
    $(document).on('change', '.customer-select', function(e) {
      // item code
      var $input = $(e.target);
      var $document_number = $input.data("document");
      // console.log("$document_number", $document_number);

      var value = $input.val();
      // console.log("value",value);

      // Payload data
      data = {
        document_number: $document_number,
        value: value,
      }

      $.ajax({
        url: '{% url "proposal_app:opportunity:customer-search" %}',
        type: 'POST',
        data: data,
        headers: {
          'X-CSRFToken': "{{ csrf_token }}",
        },
        success: function(response) {
          // console.log('Response:', response);
          if (response.code == 200) {
            window.location.reload();
          }
        },
        error: function(xhr, status, error) {
          // console.log("Error:", error);
        }
      });
    });

  });
</script>

<!-- Main Total Js -->
<script>
  $(document).ready(function () {
    let totalSum = 0;

    $(".totals").each(function () {

        const value = $(this).val().replace(/^\$/, '');
        totalSum += parseFloat(value) || 0;
        // console.log("totalSum plus", totalSum);
    });

    // console.log("totalSum", totalSum);

    $(".main_total").val("$"+totalSum.toFixed(2));
  });
</script>

<!-- Update tasks data -->
<script>
  $(".task_code, .task_description, .approve").on("keypress", function(e) {
    if (e.which === 13) {

        e.preventDefault();
        var $input = $(e.target);
        const $id = $(this).data("id");
        const value = $(this).val();
        var inputType = '';

        // console.log("ID", $id);
        // console.log("Value", value);

        if ($input.hasClass("task_code")) {
          inputType = 'task_code';
        } else if ($input.hasClass("task_description")) {
          inputType = 'task_description';
        } else if ($input.hasClass("approve")){
          inputType = 'approve';
        }

        data = {
          "type": inputType,
          "id": $id,
          "value": value,
        }

        $.ajax({
          url: '{% url "proposal_app:opportunity:update-task-mapping-ajax" %}',
          type: 'POST',
          data: data,
          headers: {
            'X-CSRFToken': "{{ csrf_token }}",
          },
          success: function(response) {
            // console.log('Response:', response);
            if (response.status == "success") {
              if (inputType == 'task_description'){
                console.log('Task Description');
                $(`.edi-description[data-task-id=${$id}]`).val(value);
                console.log('Task Description Updated');
              }
              toastr.success(response.message, 'Updated', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });
            } else {
              toastr.success(response.message, 'Error', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });
            }
          },
          error: function(response) {
            // console.log('Error Response:', response);
            toastr.error(response.message, 'Error', {
              closeButton: true,
              progressBar: true,
              positionClass: 'toast-bottom-right',
              timeOut: 6000
            });
          }
        });
      }
  });
</script>

<!-- Update real time value and Update Assigned Items -->
<script>
  $(".prod_quantity, .prod_cost").on('input', function(e) {
    var $input = $(e.target);
    const $id = $(this).data("id");
    const $task_id = $(this).data("task-id");
    var $row = $(this).closest("tr");
    const value = $input.val().replace(/^\$/, '');
    var $sub_total = 0;

    if ($input.hasClass("prod_quantity")) {
        var $cost = $row.find(".prod_cost").val().replace(/^\$/, '');
        $sub_total = value * $cost;
    } else if ($input.hasClass("prod_cost")) {
        var $quantity = $row.find(".prod_quantity").val().replace(/^\$/, '');
        $sub_total = value * $quantity;
    }

    $row.find(".prod_total").val("$" + $sub_total.toFixed(2));

    let grandTotal = 0;
    $(`.tr-${$task_id}`).each(function() {
        const rowTotal = $(this).find(".prod_total").val().replace(/^\$/, '');
        grandTotal += parseFloat(rowTotal) || 0;
    });

    $(`.task_total_price_${$task_id}`).val("$"+grandTotal.toFixed(2));

    let totalSum = 0;
    $(`.totals`).each(function () {
        const value = $(this).val().replace(/^\$/, '');
        totalSum += parseFloat(value) || 0;
        // console.log("totalSum plus", totalSum);
    });

    $(".main_total").val("$"+totalSum);

  });

  $(".prod_item_code, .prod_labor_task, .prod_description, .prod_local_cost, .prod_quantity, .prod_cost").on('keypress', function(e){

    if (e.which === 13) {
      e.preventDefault();

      var $input = $(e.target);
      const $id = $(this).data("id");
      var $row = $(this).closest("tr");
      const value = $(this).val();
      var inputType = '';

      if ($input.hasClass("prod_item_code")){
        inputType="prod_item_code";
      }else if ($input.hasClass("prod_labor_task")){
        inputType="prod_labor_task";
      }else if ($input.hasClass("prod_local_cost")){
        inputType="prod_local_cost";
      }else if ($input.hasClass("prod_description")){
        inputType="prod_description";
      }else if ($input.hasClass("prod_quantity")){
        inputType="prod_quantity";
      } else if ($input.hasClass("prod_cost")){
        inputType="prod_cost";
      }

      data = {
        "id": $id,
        "value": value,
        "input_type": inputType,
      }

      // ajax request start
      $.ajax({
        url: '{% url "proposal_app:opportunity:update-proposal-item-ajax" %}',
        type: 'POST',
        data: data,
        headers: {
          'X-CSRFToken': "{{ csrf_token }}",
        },
        success: function(response) {
          // console.log('Response:', response);
          if (response.status == "success") {
            toastr.success(response.message, 'Updated', {
              closeButton: true,
              progressBar: true,
              positionClass: 'toast-bottom-right',
              timeOut: 6000
            });
          } else {
            toastr.success(response.message, 'Error', {
              closeButton: true,
              progressBar: true,
              positionClass: 'toast-bottom-right',
              timeOut: 6000
            });
          }
        },
        error: function(response) {
          // console.log('Error Response:', response);
          toastr.error(response.message, 'Error', {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-bottom-right',
            timeOut: 6000
          });
        }
      });
    }
  });



</script>

<!-- Update Invoice Detils -->
<script>

  $(".invoice_number, .invoice_date, .deposit, .address, .tax_rate, .invoice_sales_tax, .other_tax, .to-address, .buyer, .buyer-date, .buyer-name, .buyer-position, .seller, .seller-date, .seller-name, .seller-position").on("change", function(e){

    id = $(this).data("id");
    var $input = $(e.target);
    var value = "";
    var type = "";

    if ($input.hasClass("invoice_number")){
      value = $(this).val();
      type = "invoice_number";
    }else if ($input.hasClass("invoice_date")){
      value = $(this).val();
      type = "invoice_data";
      $(".invoice_date").val(value);
    }else if ($input.hasClass("deposit")){
      value = $(this).val().replace(/^\$/, '');
      type = "deposit_amount";
    }else if ($input.hasClass("address")){
      value = $(this).val();
      type = "billing_address";
      $(".address").val(value);
    }else if ($input.hasClass("tax_rate")){
      tax_rate = $(this).val();
      value = parseFloat(tax_rate)
      type = "tax_rate";
    }else if ($input.hasClass("invoice_sales_tax")){
      value = $(this).val().replace(/^\$/, '');
      type = "sales_tax";
    }else if ($input.hasClass("other_tax")){
      value = $(this).val().replace(/^\$/, '');
      type = "other_tax";
    }else if ($input.hasClass("to-address")){
      value = $(this).val();
      type = "deposit_address";
    }else if ($input.hasClass("buyer")){
      value = $(this).val();
      type = "buyer";
    }else if ($input.hasClass("buyer-date")){
      value = $(this).val();
      type = "buyer_date";
    }else if ($input.hasClass("buyer-name")){
      value = $(this).val();
      type = "buyer_name";
    }else if ($input.hasClass("buyer-position")){
      value = $(this).val();
      type = "buyer_position";
    }else if ($input.hasClass("seller")){
      value = $(this).val();
      type = "seller";
    }else if ($input.hasClass("seller-date")){
      value = $(this).val();
      type = "seller_date";
    }else if ($input.hasClass("seller-name")){
      value = $(this).val();
      type = "seller_name";
    }else if ($input.hasClass("seller-position")){
      value = $(this).val();
      type = "seller_position";
    }

    // Payload data
    data = {
      "type": type,
      "value": value,
      "id": id,
    }

    // console.log("data", data);

    $.ajax({
      url: '{% url "proposal_app:opportunity:update-invoice-ajax" %}',
      type: 'POST',
      data: data,
      headers: {
        'X-CSRFToken': "{{ csrf_token }}",
      },
      success: function(response) {
        // console.log('API call success:', response);
        if (response.status == "success"){
          toastr.success(response.message, 'Success', {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-bottom-right',
            timeOut: 6000
          });
        } else{
          toastr.warning(response.message, 'Warning', {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-bottom-right',
            timeOut: 6000
          });
        }
      },
      error: function(xhr, status, error) {
        console.error('API call error:', status, error);
        toastr.error(xhr.responseJSON.message, 'Error', {
          closeButton: true,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          timeOut: 6000
        });
      }

    });

  });

</script>

<!-- Update Grand Total -->
<script>

  // Get Grand Total
  $(document).ready(function() {

    var main_total = parseFloat($(".main_total").val().replace(/^\$/, '').replace(/,/g, '')) || 0;
    var other_tax = parseFloat($(".other_tax").val().replace(/^\$/, '').replace(/,/g, '')) || 0;
    var tax_rate = parseFloat($(".tax_rate").val()) || 0;
    var sales_tax = parseFloat($(".invoice_sales_tax").val().replace(/^\$/, '').replace(/,/g, '')) || 0;

    var grand_total = main_total + other_tax + sales_tax + (tax_rate / 100);

    $(".grand_total").val("$"+grand_total.toFixed(2));
  });

  // Update Real time value of grand total
  $(".other_tax, .tax_rate, .invoice_sales_tax").on("input", function(e){

    var main_total = parseFloat($(".main_total").val().replace(/^\$/, '').replace(/,/g, '')) || 0;
    var other_tax = parseFloat($(".other_tax").val().replace(/^\$/, '').replace(/,/g, '')) || 0;
    var tax_rate = parseFloat($(".tax_rate").val()) || 0;
    var sales_tax = parseFloat($(".invoice_sales_tax").val().replace(/^\$/, '').replace(/,/g, '')) || 0;

    var grand_total = main_total + other_tax + sales_tax +  (tax_rate / 100);

    $(".grand_total").val("$"+grand_total.toFixed(2));

  });

</script>

<!-- Remove Terms -->
<script>
  $(".remove-terms").on("click", function(e){
    $(this).closest('tr').remove();
  });
</script>

<!-- Save Terms & Condition -->
<script>
  $(document).ready(function() {
    $("a[href='#next']").on('click', function() {

      var foundElements = $(".steps li").find(".current");
      var current_stage_value = $(".current a span.step").text();

      if (current_stage_value == "8"){
        var terms = {
          "term_and_condition": [],
          "pump_installation_terms": [],
          "sales_agreement": []
        };

        $('.tac').each(function() {
          var checkbox = $(this).find('input[type="checkbox"]');
          if (checkbox.length > 0) {
              var term_id = $(this).find('.term').data('id');
              var term_value = $(this).find('.term').val();

              if (term_value !== "" && term_value !== null) {
                  terms.term_and_condition.push({
                      "id": term_id,
                      "text": term_value,
                      "checked": checkbox.is(':checked') // Sets true if checked, false otherwise
                  });
              }
          }
        });

        $('.pit').each(function() {
          var checkbox = $(this).find('input[type="checkbox"]');
          if (checkbox.length > 0) {
              var term_id = $(this).find('.pump-term').data('id');
              var term_value = $(this).find('.pump-term').val();

              if (term_value !== "" && term_value !== null) {
                  terms.pump_installation_terms.push({
                      "id": term_id,
                      "text": term_value,
                      "checked": checkbox.is(':checked') // Sets true if checked, false otherwise
                  });
              }
          }
        });

        $('.spa').each(function() {
          var checkbox = $(this).find('input[type="checkbox"]');
          if (checkbox.length > 0) {
              var term_id = $(this).find('.sales-agreement').data('id');
              var term_value = $(this).find('.sales-agreement').val();

              if (term_value !== "" && term_value !== null) {
                  terms.sales_agreement.push({
                      "id": term_id,
                      "text": term_value,
                      "checked": checkbox.is(':checked') // Sets true if checked, false otherwise
                  });
              }
          }
        });

        var document_number = "{{ opportunity.document_number }}";

        data = {
          "document_number": document_number,
          "type": "term_and_condition",
          "value": JSON.stringify(terms)
        }

        $.ajax({
          url: '{% url "proposal_app:opportunity:update-opportunity-ajax" %}',
          type: 'POST',
          data: data,
          headers: {
            'X-CSRFToken': "{{ csrf_token }}",
          },
          success: function(response) {
            if (response.status == "success"){
              toastr.success(response.message, 'Success', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });
              console.log("New description Added ")
              $("#opportunity-term-and-condition").html(response._html)
              //window.location.reload();

            } else if (response.status == "error"){
              toastr.warning(response.message, 'Warning', {
                closeButton: true,
                progressBar: true,
                positionClass: 'toast-bottom-right',
                timeOut: 6000
              });
            }
          },
          error: function(xhr, status, error) {
            console.error('API call error:', status, error);
            toastr.error(xhr.responseJSON.message, 'Error', {
              closeButton: true,
              progressBar: true,
              positionClass: 'toast-bottom-right',
              timeOut: 6000
            });
          }
        });
      }
    });
  });
</script>

<!-- Add new terms -->
<script>
  $(document).on("keypress", ".new-terms", function(e) {
    if (e.which == 13) {
        e.preventDefault();

        var $currentRow = $(this).closest('tr');

        var $newRow = `
            <tr class="tac">
                <td><input type="checkbox" name=""></td>
                <td>
                    <input type="text" class="form-control term new-terms" placeholder="Write Here" />
                </td>
            </tr>
        `;

        $currentRow.after($newRow);
        $currentRow.next().find('.new-terms').focus();
    }
  });
</script>

<!-- Add new pump term -->
<script>
  $(document).on("keypress", ".new-pump-terms", function(e) {
    if (e.which == 13) {
        e.preventDefault();

        var $currentRow = $(this).closest('tr');

        var $newRow = `
            <tr class="pit">
                <td><input type="checkbox" name=""></td>
                <td>
                    <input type="text" class="form-control pump-term new-pump-terms" placeholder="Write new pump installation term" />
                </td>
            </tr>
        `;

        $currentRow.after($newRow);
        $currentRow.next().find('.new-pump-terms').focus();
    }
  });

</script>

<!-- Add sales term -->
<script>
  $(document).on("keypress", ".new-sales-agreement", function(e) {
    if (e.which == 13) {
        e.preventDefault();
        // console.log("New Pump terms added");
        var $currentRow = $(this).closest('tr');
        var $newRow = `
            <tr class="spa">
                <td><input type="checkbox" name=""></td>
                <td>
                    <input type="text" class="form-control sales-agreement new-sales-agreement" placeholder="Write new sales and approval agreement..." />
                </td>
            </tr>
        `;

        $currentRow.after($newRow);
        $currentRow.next().find('.new-sales-agreement').focus();
    }
  });
</script>

{% endblock script %}