<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel5">Assign Products</h4>
    <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close">
        <span aria-hidden="true">
            <i class="ft-x font-medium-2 text-bold-700"></i>
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table id="sample" class="table table-bordered table-striped assign_prod">
            <thead>
                <tr>
                    <th class="select-checkbox"><input name="checkbox" type="checkbox" class="select-checkbox" checked/></th>
                    <th>Combined Quantities</th>
                    <th>Description</th>
                    <th>Item Number</th>
                </tr>
            </thead>
             <tbody>
                {% for p in valid_products %}
                    <tr class="checkbox-tr">
                        <td><input name="checkbox" type="checkbox" class="row-checkbox" checked></td>
                        <td>{{p.combined_quantities_from_both_import}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.item_number}}</td>
                    </tr>
                {% endfor %}
        
                {% if non_valid_products %}
                    <tr>
                        <td colspan="4" style="background-color:rgb(233, 233, 233); text-align: center; font-weight: bold;">
                            Non Valid Products
                        </td>
                    </tr>
                {% endif %}
        
                {% for p in non_valid_products %}
                    <tr class="checkbox-tr">
                        <td><input name="checkbox" type="checkbox" class="row-checkbox" checked></td>
                        <td>{{p.combined_quantities_from_both_import}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.item_number}}</td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
</div>
<div class="modal-footer">
    <button
    type="button"
    class="btn bg-light-secondary"
    data-dismiss="modal"
    >
    Close
    </button>
    <button type="button" id="save-button" class="btn btn-primary">Save</button>
</div>

<!-- Test js for drag and select -->
<script>
    $(document).ready(function() {
        var isMouseDown = false,
        isHighlighted;

        $("#sample input:checkbox").click(function() {
        return false;
        })
        $("#sample tr")
        .mousedown(function() {
            isMouseDown = true;
            $(this).toggleClass("highlighted");
            isHighlighted = $(this).hasClass("highlighted");
            $(this).find("input:checkbox").prop("checked", isHighlighted);
            return false; // prevent text selection
        })
        .mouseover(function() {
            if (isMouseDown) {
            $(this).toggleClass("highlighted", isHighlighted);
            $(this).find("input:checkbox").prop("checked", isHighlighted);
            }
        })
        .bind("selectstart", function() {
            return false;
        })

        $(document)
        .mouseup(function() {
            isMouseDown = false;
        });
    });
</script>
<!-- Test js for drag and select -->

<script>
    $(document).ready(function() {

        $("#save-button").click(function() {
            console.log('02-21 selec=====tedItems: ');
            var selectedItems = getSelectedCheckboxes();
            console.log('02-21 selectedItems: ', selectedItems);

            $.ajax({
                type: "POST",
                url: "/proposal/assign-prod-labor/{{document_number}}/{{task_id}}",
                data: {
                    'items': JSON.stringify(selectedItems),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                beforeSend: function() {
                    $("#assign-prod").modal('hide');
                    $("#assign-prod .modal-body").html('');
                    $('#show-loader-task-mapping').css("display", "block");
                    $('#tableContainer').css("display", "none");
                },
                success: function(response) {
                    $('#tableContainer').html(response.html);
                    $('#show-loader-task-mapping').css("display", "none");
                    $('#tableContainer').css("display", "block").fadeIn(1000);

                    $("#enstimate-table").DataTable().ajax.reload(null, false);

                    toastr.success(response.message, 'Success', {
                        closeButton: true,
                        progressBar: true,
                        positionClass: 'toast-bottom-right',
                        timeOut: 6000
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });

        $('.assign_prod').DataTable({
            "lengthChange": false,
            "paging": false,
            "info": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "orderable": false,
                }
            ]
        });


        function getSelectedCheckboxes() {
            var selectedItems = [];
            $(".checkbox-tr input:checkbox:checked").each(function() {
                var row = $(this).closest("tr");
                var item = {
                    internal_id: row.find("td").eq(3).text()
                };
                selectedItems.push(item);
            });
            return selectedItems;
        }
    });
</script>
<script>
    $(document).ready(function () {
        $(".select-checkbox").click(function () {
            var isChecked = $(this).is(':checked');
            
            if (isChecked){
                $(".row-checkbox").prop('checked', false);
                $(".select-checkbox").prop('checked', false);
            }else{
                $(".row-checkbox").prop('checked', true);
                $(".select-checkbox").prop('checked', true);
            }
        });
    });
</script>