<div class="text-right my-2">
    <button type="button" class="btn bg-light-primary htmx-trigger-btn-add-task"
            data-url="{% url 'proposal_app:opportunity:add-task' opportunity.document_number %}"
            hx-get="{% url 'proposal_app:opportunity:add-task' opportunity.document_number %}"
            hx-target="#model-add-task" hx-trigger="click" data-toggle="modal" data-target="#add-task-btn">
            <em class="ft-plus font-medium-5"></em> Add Task
    </button>
  </div>

  <script>
    $(document).on('click', '.htmx-trigger-btn-add-task' , function (e) {

      var url = $(this).data('url');
      htmx.ajax('GET',
          url,
          {
            target:'#model-add-task',
            swap:'innerHTML',
          }).then(() => {
          $('#add-task').toggleClass('hidden');
        })
      });

      document.body.addEventListener('htmx:beforeSwap', function(evt) {

        if(evt.detail.xhr.status === 200){
            // console.log("evt.detail.xhr.status", evt.detail.xhr.status)
            // console.log("evt.detail.xhr.response", evt.detail.xhr.response)
            $("#add-task").modal('hide');
            $("#add-task .modal-body").html('');

            // Parse the JSON response
            var response = JSON.parse(evt.detail.xhr.response);

            if (response.status === 'success') {
              window.location.reload();
            }
        }
      });
</script>
